@model Portefolio_webApp.Models.Innlegg;
@*

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    var liste = (List<Portefolio_webApp.Models.Innlegg>)ViewData["liste"];
}


@{
    var antall = 0;
}
<div class="row p-3" id="rowDIV">
    @while (antall < liste.Count)
    {
        var Innlegg = liste.ElementAt(antall);
        if (Innlegg.Kategori.Equals("Tekst"))
        {
            <div class="col p-2" align="center">
                <div class="card" style="width: 18rem; height:15rem; overflow: hidden;">
                    <div class="card-body">
                        <h5 class="card-title">@Innlegg.Tittel</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Innlegg.Kategori</h6>
                        <p class="card-text">@Innlegg.Beskrivelse</p>
                        <a asp-controller="Innlegg" asp-action="Nav_Innlegg" asp-route-id=@Innlegg.Id class="card-link"> Besøk </a>
                        <a href="#" class="card-link">Besøk</a>
                        <a href="#" class="card-link">Lik</a>
                    </div>
                </div>
            </div>
        }
        else if (Innlegg.Kategori.Equals("Musikk"))
        {
            <div class="col p-2" align="center">
                <div class="card" style="width: 18rem; height:15rem; overflow: hidden; background-color:black">
                    <div class="card-body">
                        <h5 class="card-title">@Innlegg.Tittel</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Innlegg.Kategori</h6>
                        <p class="card-text">@Innlegg.Beskrivelse</p>
                        <a href="#" class="card-link">Besøk</a>
                        <a href="#" class="card-link">Lik</a>
                    </div>
                </div>
            </div>
        }
        else if (Innlegg.Kategori.Equals("Kunst"))
        {
            <div class="col p-2" align="center">
                <div class="card" style="width: 18rem; height:15rem; overflow: hidden; background-color:red">
                    <div class="card-body">
                        <h5 class="card-title">@Innlegg.Tittel</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Innlegg.Kategori</h6>
                        <p class="card-text">@Innlegg.Beskrivelse</p>
                        <a href="#" class="card-link">Besøk</a>
                        <a href="#" class="card-link">Lik</a>
                    </div>
                </div>
            </div>
        }
        else if (Innlegg.Kategori.Equals("Fotografi"))
        {
            <div class="col p-2" align="center">
                <div class="card" style="width: 18rem; height:15rem; overflow: hidden; background-color:green">
                    <div class="card-body">
                        <h5 class="card-title">@Innlegg.Tittel</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Innlegg.Kategori</h6>
                        <p class="card-text">@Innlegg.Beskrivelse</p>
                        <a href="#" class="card-link">Besøk</a>
                        <a href="#" class="card-link">Lik</a>
                    </div>
                </div>
            </div>
        }
        antall++;
    }
</div>

