<link href="~/css/_browse.css" rel="stylesheet" />
<script src="~/js/lyd.js"></script>
<link href="~/css/Musikkontroller.css?v=1" rel="stylesheet" />
<link href="~/css/PorteføljeElementer.css" rel="stylesheet" />
@model Portefolio_webApp.Models.Innlegg;
@*

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    var liste = (List<Portefolio_webApp.Models.Innlegg>)ViewData["liste"];
}


@{
    var antall = (liste.Count - 1);
}

@if (liste.Count != 0)
{
    @while (antall > -1)
    {
        var Innlegg = liste.ElementAt(antall);
        if (Innlegg.Kategori == null)
        { }
        else if (Innlegg.Kategori.Equals("Text"))
        {


            <div class="litteratur innleggindex" id="tekst-innlegg">
                <a asp-controller="Innlegg" asp-action="Nav_Innlegg" asp-route-id=@Innlegg.Id class="card-link">
                    <i class="far fa-file-alt innlegg-ikon"></i>

                    <img class="book_cover idmge" src="@Innlegg.CoverURL" alt="" />
                    <div class="lit-tekst">
                        <h3 class="tittel" id="teksttittel">@Innlegg.Tittel</h3>
                        <h3 class="beskrivelse" id="tekstbeskrivelse">@Innlegg.Beskrivelse</h3>
                        <h4 class="forfatter">@Innlegg.Eier</h4>
                    </div>
                </a>
            </div>
        }
        else if (Innlegg.Kategori.Equals("Sound"))
        {

            <div class="music_player">
                <img id="sang-@Innlegg.Id" class="play_button shadowed" src="~/resources/icons8-play-96.png" onclick='spillAv("sangaudio-@Innlegg.Id", this.id); visSang("sangnavn-@Innlegg.Id", "artist-@Innlegg.Id")' />
                <a asp-controller="Innlegg" asp-action="Nav_Innlegg" asp-route-id=@Innlegg.Id class="card-link">
                    <i class="fas fa-music innlegg-ikon"></i>
                    <div class="play_button_div">
                        <h3 class="sangnavn" id="sangnavn-@Innlegg.Id">@Innlegg.Tittel</h3>
                        <p class="artist" id="artist-@Innlegg.Id">@Innlegg.Eier</p>
                    </div>


                    <img class="fuck imge" src="@Innlegg.CoverURL" alt="" />

                </a>


                <audio id="sangaudio-@Innlegg.Id" class="lydspor" preload="metadata" ontimeupdate="timer(this.id); var minutter = Math.floor(this.currentTime / 60); var sekunder = Math.floor(this.currentTime - minutter * 60); var minutter1 = Math.floor(this.duration / 60); var sekunder1 = Math.floor(this.duration - minutter1 * 60); document.getElementById('tracktime').innerHTML = minutter + ':' + ('0' + sekunder).slice(-2); document.getElementById('trackduration').innerHTML = minutter1 + ':' + ('0' + sekunder1).slice(-2);" src="@Innlegg.IkonURL"></audio>





            </div>

        }

        else if (Innlegg.Kategori.Equals("Image"))
        {

            <div class="single-awesome-portfolio">
                <a asp-controller="Innlegg" asp-action="Nav_Innlegg" asp-route-id=@Innlegg.Id>
                    <div class="awesome-img">
                        <i class="far fa-image innlegg-ikon"></i>
                        <div class="awesome-info">
                            <h3>@Innlegg.Tittel</h3>
                            <p>@Innlegg.Eier</p>
                        </div>
                        <img class="imge" src="@Innlegg.IkonURL" alt="">
                    </div>

                </a>
            </div>

        }

        antall--;
    }
}
else
{
    <h2 style="color:white; text-align:center; margin-top:50px;">There are no results!</h2>
}




<div class="musikk_kontroller" id="test">
    <span id="sangfelt"></span>
    <span id="artistfelt"></span>

    <span id="tracktime">0:00</span>
    <progress id="seekbar" value="0" max="100"></progress>
    <span id="trackduration">0:00</span>

    <img class="stopper" src="../resources/icons8-pause-96.png" onclick="stopAll()" />

    <input type="range" id="volume-control" value="5" min="0" max="10" onload="volum(this.value)" onchange="volum(this.value)">
</div>

<svg height="0" xmlns="http://www.w3.org/2000/svg">
    <filter id="drop-shadow">
        <feGaussianBlur in="SourceAlpha" stdDeviation="4" />
        <feOffset dx="4" dy="4" result="offsetblur" />
        <feFlood flood-color="rgba(0,0,0,0.8)" />
        <feComposite in2="offsetblur" operator="in" />
        <feMerge>
            <feMergeNode />
            <feMergeNode in="SourceGraphic" />
        </feMerge>
    </filter>
</svg>