@model Portefolio_webApp.Models.Bruker;

@{

    var BrukerInnhold = (Portefolio_webApp.Models.Bruker)ViewData["Bruker"];
    var CvInnhold = BrukerInnhold.CV;
    var toastString = "";

}

<style>
    .editClass {
        border: solid grey;
        padding: 5px;
        border-radius: 8px;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link href="~/css/CV.css" rel="stylesheet" />
<link href="~/css/Buttons.css" rel="stylesheet" />



<div style="display: flex; justify-content: flex-end">
    <div class="toast" id="toast" role="alert" aria-live="assertive" aria-atomic="true" style="display:none; position: fixed; z-index: 1; color:white; width: 199px; right: 3px;">
        <div class="toast-header">
            <i class="fas fa-bell" style="color: blue;"></i>
            <strong class="mr-auto"style="color: blue;"> &nbsp; Notification</strong>
        </div>
        <div class="toast-body" id="toast-body" style="color: blue;">
        </div>
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xl-4">
                <div class="card-box text-center">
                    @if (@BrukerInnhold.Profilbilde != null)
                    {

                        <img src="@BrukerInnhold.Profilbilde" class="rounded-circle img-thumbnail" alt="profile-image">}

                    else
                    { <img src="https://firebasestorage.googleapis.com/v0/b/bachelor-it-97124.appspot.com/o/images%2Fdefault_account.jpg?alt=media&token=290b6907-f17e-4095-90a6-dca2c52563b9" class="rounded-circle img-thumbnail" alt="profile-image">
                     }


                    <h4 class="mb-0">@BrukerInnhold.Navn</h4>
                    <p class="text-muted">@BrukerInnhold.Stilling</p>

            </div> <!-- end card-box -->

            <div class="card-box">
                <h4 class="header-title">Skills</h4>
                <div class="pt-1">                 @{
                        var antallFerdigheter = 0;
                    }
                    @if (CvInnhold.Ferdigheter.Count != 0)
                        @while (antallFerdigheter < CvInnhold.Ferdigheter.Count)
                        {
                            var FerdighetNavn = CvInnhold.Ferdigheter.ElementAt(antallFerdigheter);
                            var FerdighetProsent = CvInnhold.Ferdigheter.ElementAt(antallFerdigheter + 1);
                            antallFerdigheter += 2;

                                <h6 class="text-uppercase mt-2">
                                    @FerdighetNavn<span class="float-right">@FerdighetProsent</span>
                                </h6>
                                <div class="progress progress-sm m-0">
                                    <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="@FerdighetProsent" aria-valuemin="0" aria-valuemax="100" style="width: @FerdighetProsent">
                                        <span class="sr-only">@FerdighetProsent% Complete</span>
                                    </div>
                                </div>
                            }

                    </div>
                </div> <!-- end card-box-->

            <div class="card-box">
                <h4 class="header-title">Languages</h4>
                <div class="pt-1">
                    @{
                        var antallSpråk = 0;
                    }
                    @if (CvInnhold.Språk.Count != 0)
                        @while (antallSpråk < CvInnhold.Språk.Count)
                        {
                            var SpråkNavn = CvInnhold.Språk.ElementAt(antallSpråk);
                            var SpråkProsent = CvInnhold.Språk.ElementAt(antallSpråk + 1);
                            antallSpråk += 2;
                            <h6 class="text-uppercase mt-2">
                                @SpråkNavn
                                <span class="float-right">
                                    @SpråkProsent
                                </span>
                            </h6>
                            <div class="progress progress-sm m-0">
                                <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="@SpråkProsent" aria-valuemin="0" aria-valuemax="100" style="width: @SpråkProsent">
                                </div>
                            </div>
                        }
                </div>
            </div> <!-- end card-box-->
        </div> <!-- end col-->

            <div class="col-lg-8 col-xl-8">
                <div class="card-box">
                    <ul class="nav nav-pills navtab-bg">
                        <li class="nav-item">
                            <a class="nav-link ml-0 active" asp-controller="ProfilSide" asp-action="CV"  asp-route-brukerID="@BrukerInnhold.Id">
                                <i class="mdi mdi-face-profile mr-1"></i>About Me
                            </a>
                        </li>
                        @if (BrukerInnhold.Id == (string)ViewData["Innlogget_ID"] )
                        {
                            <li class="nav-item">
                                <a href="#settings" data-toggle="tab" aria-expanded="false" class="nav-link">
                                    <i class="mdi mdi-settings-outline mr-1"></i>Settings
                                </a>
                            </li>
                        }
                        </ul>

                <div class="tab-content">

                    <div class="tab-pane show active" id="aboutme">

                            <h5 class="mb-3 text-uppercase">
                                <i class="mdi mdi-briefcase mr-1"></i>
                                Experience
                            </h5>   
                            @{
                                var antallArbeidsErfaring = 0;
                                var arID = "arEdit" + antallArbeidsErfaring;
                            }
                            @if (CvInnhold.ArbeidsErfaring.Count != 0)
                                @while (antallArbeidsErfaring < CvInnhold.ArbeidsErfaring.Count)
                                {
                                    var ArbeidsErfaringÅrStart = CvInnhold.ArbeidsErfaring.ElementAt(antallArbeidsErfaring);
                                    var ArbeidsErfaringÅrSlutt = CvInnhold.ArbeidsErfaring.ElementAt(antallArbeidsErfaring + 1);
                                    var ArbeidsErfaringTittel = CvInnhold.ArbeidsErfaring.ElementAt(antallArbeidsErfaring + 2);
                                    var ArbeidsErfaringBedrift = CvInnhold.ArbeidsErfaring.ElementAt(antallArbeidsErfaring + 3);
                                    var ArbeidsErfaringBeskrivelse = CvInnhold.ArbeidsErfaring.ElementAt(antallArbeidsErfaring + 4);

                                    <div id="@(arID)" onmouseover="@(BrukerInnhold.Id == (string)ViewData["Innlogget_ID"]? "addEdit('"+@arID+"','"+@arID+"button','"+@arID+"buttonRed')":"") "  onmouseout="@(BrukerInnhold.Id == (string)ViewData["Innlogget_ID"]? "removeEdit('"+@arID+"','"+@arID+"button','"+@arID+"buttonRed')":"")  ">
                                        <ul class="list-unstyled timeline-sm">
                                            <li class="timeline-sm-item">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <span class="timeline-sm-date" id="arDato@(arID)">
                                                            <u>@ArbeidsErfaringÅrStart - @ArbeidsErfaringÅrSlutt </u>
                                                        </span>
                                                    </div>
                                                    <div class="col-2" style="padding-right:30px;">
                                                        <div class="row">
                                                            <div class="col">
                                                                <button id="@(arID)buttonRed" class="btn btn-light" style="position:absolute; right:11%; display:none;" onclick="onEdit('ArbeidsErfaring', @antallArbeidsErfaring,
                                                    'arDato@(arID)',@ArbeidsErfaringÅrStart,@ArbeidsErfaringÅrSlutt, 'arTittel@(arID)', 'arbedrift@(arID)', 'arBio@(arID)', 'submitArbeid@(arID)')">
                                                                    <i class="fas fa-pencil-alt fa-lg"></i>
                                                                </button>
                                                            </div>
                                                            <div class="col">
                                                                <button id="@(arID)button" class="btn btn-light" style="position:absolute; right:6%; display:none;" onclick="onDelete('@arID', @antallArbeidsErfaring, 'ArbeidsErfaring')"><i class="fas fa-window-close fa-lg"></i></button>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h5 id="arTittel@(arID)" class="mt-0 mb-1">@ArbeidsErfaringTittel</h5>
                                                    <p id="arbedrift@(arID)">@ArbeidsErfaringBedrift</p>
                                                    <p id="arBio@(arID)" class="text-muted mt-2">
                                                        @ArbeidsErfaringBeskrivelse
                                                    </p>
</li>
                                    </ul>
                                        <div class="text-right">
                                            <span id="@(antallArbeidsErfaring)spanA" class="text-danger"></span>
                                            <button id="submitArbeid@(arID)" class="btn btn-success waves-effect waves-light mt-2" style="display:none;"
                                                    onclick="saveEdit('@BrukerInnhold.Id','ArbeidsErfaring',@antallArbeidsErfaring, (@ArbeidsErfaringÅrStart+@antallArbeidsErfaring), (@ArbeidsErfaringÅrSlutt+@antallArbeidsErfaring),
                                                                arTittel@(arID),arbedrift@(arID),arBio@(arID) )">
                                                <i class="mdi mdi-content-save"></i> Save
                                            </button>
                                        </div>
                                </div>
                                antallArbeidsErfaring += 5;
                                arID = "arEdit" + antallArbeidsErfaring;
                            }

                        <h5 class="mb-3 mt-4 text-uppercase">
                            <i class="mdi mdi-school mr-1"></i>
                            Education
                        </h5>

                        @{
                            var antallUtdanning = 0;
                            var utID = "utEdit" + antallUtdanning;
                        }
                        @if (CvInnhold.Utdanning.Count != 0)
                            @while (antallUtdanning < CvInnhold.Utdanning.Count)
                            {
                                var UtdanningÅrStart = CvInnhold.Utdanning.ElementAt(antallUtdanning);
                                var UtdanningÅrSlutt = CvInnhold.Utdanning.ElementAt(antallUtdanning + 1);
                                var UtdanningGrad = CvInnhold.Utdanning.ElementAt(antallUtdanning + 2);
                                var UtdanningInstitusjon = CvInnhold.Utdanning.ElementAt(antallUtdanning + 3);

                                    <div id="@(utID)" onmouseover="@(BrukerInnhold.Id == (string)ViewData["Innlogget_ID"]? "addEdit('"+@utID+"','"+@utID+"button','"+@utID+"buttonRedUT')":"")" onmouseout="@(BrukerInnhold.Id == (string)ViewData["Innlogget_ID"]? "removeEdit('"+@utID+"','"+@utID+"button','"+@utID+"buttonRedUT')":"")">
                                        <ul class="list-unstyled timeline-sm">
                                            <li class="timeline-sm-item">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <span class="timeline-sm-date" id="utDato@(utID)">
                                                            <u>@UtdanningÅrStart - @UtdanningÅrSlutt</u>
                                                        </span>
                                                    </div>
                                                    <div class="col-2" style="padding-right:30px;">
                                                        <div class="row">
                                                            <div class="col">
                                                                <button id="@(utID)buttonRedUT" class="btn btn-light" style="position:absolute; right:11%; display:none;" onclick="onEdit('Utdanning', @antallUtdanning, 'utDato@(utID)',
                                                                  @UtdanningÅrStart,@UtdanningÅrSlutt, 'utGrad@(utID)', 'utSted@(utID)', '', 'submitUtdanning@(utID)')">
                                                                    <i class="fas fa-pencil-alt fa-lg"></i>
                                                                </button>
                                                            </div>
                                                            <div class="col">
                                                                <button id="@(utID)button" class="btn btn-light" style="position:absolute; right:6%; display:none;"
                                                                        onclick="onDelete('@utID',@(antallUtdanning), 'Utdanning')">
                                                                    <i class="fas fa-window-close fa-lg"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    </div>
                                                <h5 class="mt-0 mb-1" id="utGrad@(utID)">@UtdanningGrad</h5>
                                                <p id="utSted@(utID)">@UtdanningInstitusjon</p>
                                            </li>
                                    </ul>
                                        <div class="text-right">
                                            <span id="@(antallUtdanning)spanU" class="text-danger"></span>
                                            <button id="submitUtdanning@(utID)" class="btn btn-success waves-effect waves-light mt-2" style="display:none;"
                                                    onclick="saveEdit('@BrukerInnhold.Id','Utdanning',@antallUtdanning, (@UtdanningÅrStart+@antallUtdanning), (@UtdanningÅrSlutt+@antallUtdanning),
                                                                utGrad@(utID),utSted@(utID),'' )">
                                                <i class="mdi mdi-content-save"></i> Save
                                            </button>
                                        </div>
                                </div>
                                antallUtdanning += 4;
                                utID = "utEdit" + antallUtdanning;
                            }
                    </div>
                    <!-- end timeline content-->

                    
                        <div class="tab-pane" id="settings">

                        <input type="hidden" asp-for="Id" />
                        <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-briefcase-plus mr-1"></i> Add Experience</h5>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="startYearA">From month</label>
                                    <input type="month" class="form-control datedrop" id="startYearA" placeholder="Enter year started*">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="endYearA">To month</label>
                                    <input type="month" class="form-control" id="endYearA" placeholder="Enter year ended*">
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="jobTitleA" placeholder="Enter job title*">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="companyNameA" placeholder="Enter company name*">
                                </div>
                            </div>
                            <span class="text-danger"></span><!-- end col -->
                        </div> <!-- end row -->

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="userbio">Description</label>
                                    <textarea class="form-control" id="userbio" rows="4" placeholder="Write something..."></textarea>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                        <div class="text-right">
                            <span id="danger_arbeid" class="text-danger"></span>
                                <button id="submitArbeid" class="btn btn-primary buttons mt-1 mb-3"><i class="mdi mdi-content-save"></i> Add</button>
                        </div>



                        <!--
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="useremail">Email Address</label>
                                    <input type="email" class="form-control" id="useremail" placeholder="Enter email">
                                    <span class="form-text text-muted"><small>If you want to change email please <a href="javascript: void(0);">click</a> here.</small></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="userpassword">Password</label>
                                    <input type="password" class="form-control" id="userpassword" placeholder="Enter password">
                                    <span class="form-text text-muted"><small>If you want to change password please <a href="javascript: void(0);">click</a> here.</small></span>
                                </div>
                            </div> <!-- end col
                        </div> <!-- end row
                        -->



                        <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-book-plus mr-1"></i>Add Education</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="startYearU">From month</label>
                                    <input type="month" class="form-control" id="startYearU" placeholder="Enter year started">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="endYearU">From month</label>
                                    <input type="month" class="form-control" id="endYearU" placeholder="Enter year ended">
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="linje" placeholder="Enter title of education*">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="skolename" placeholder="Enter name of institute*">
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                        <div class="text-right">
                            <span id="danger_skole" class="text-danger"></span>
                            <button type="submit" id="submitSkole" class="btn btn-primary buttons mt-1 mb-3"><i class="mdi mdi-content-save"></i> Add</button>
                        </div>
                        <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-format-list-checkbox mr-1"></i>Add / Edit Skills</h5>

                        <div class="row" id="skillsEdit">

                            @{
                                var antallFerdigheter2 = 0;


                                }
                                @if (CvInnhold.Ferdigheter.Count != 0)
                                    @while (antallFerdigheter2 < CvInnhold.Ferdigheter.Count)
                                    {
                                        var FerdighetNavn2 = CvInnhold.Ferdigheter.ElementAt(antallFerdigheter2);
                                        var FerdighetProsent2 = CvInnhold.Ferdigheter.ElementAt(antallFerdigheter2 + 1);
                                        var prosent = FerdighetProsent2.Substring(0, FerdighetProsent2.Length - 1);

                                        <div class="col-md-6" id="skill@(antallFerdigheter2)">
                                            <div class="form-group">
                                                <input value="@FerdighetNavn2" id="skillbar@(antallFerdigheter2)" />
                                                <div class="input-group">
                                                    <input class="slider-general" id="skillSlider@(antallFerdigheter2)" data-slider-id='ex1Slider' value="@prosent" type="range" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" oninput="sliderFunc('sliderTekst@(antallFerdigheter2)','skillSlider@(antallFerdigheter2)')" />
                                                    <button id="@(antallFerdigheter2)skillbutton" style="position:absolute; right:6%; bottom:110%" onclick="onDelete('skill@(antallFerdigheter2)', @antallFerdigheter2, 'Ferdigheter')"><i class="fas fa-window-close fa-sm"></i></button>
                                                    <p id="sliderTekst@(antallFerdigheter2)">@FerdighetProsent2</p>
                                                </div>

                                            </div>
                                        </div> <!-- end col -->

                                        antallFerdigheter2 += 2;

                                    }
                                    else
                                    {
                                        <div class="col-md-6" id="skill0">
                                            <div class="form-group">
                                                <input placeholder="skill" id="skillbar0" />
                                                <div class="input-group">
                                                    <input class="slider-general" id="skillSlider0" data-slider-id='ex1Slider' value="50" type="range" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" oninput="sliderFunc('sliderTekst0','skillSlider0')" />
                                                    <p id="sliderTekst0">50%</p>
                                                </div>

                                            </div>
                                        </div> <!-- end col -->
                                    }

                            </div> <!-- end row -->
                        <div class="text-right">
                            <span id="danger_skills" class="text-danger"></span>
                            <button id="addSkillButton" class="btn btn-primary buttons mt-2 mb-3" onclick="addSlider('skillsEdit')"><i class="fas fa-plus"></i> Add</button>
                            <button id="submitSkillButton" class="btn btn-primary buttons mt-2 mb-3" onclick="registrerSliders('@BrukerInnhold.Id','skillsEdit')"><i class="mdi mdi-content-save"></i> Save</button>
                        </div>



                        <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-translate mr-1"></i>Add / Edit Languages</h5>

                        <div class="row" id="språkEdit">

                            @{
                                var antallSliderSpråk = 0;
                            }
                            @if (CvInnhold.Språk.Count != 0)
                                @while (antallSliderSpråk < CvInnhold.Språk.Count)
                                {
                                    var SpråkNavn2 = CvInnhold.Språk.ElementAt(antallSliderSpråk);
                                    var SpråkProsent2 = CvInnhold.Språk.ElementAt(antallSliderSpråk + 1);
                                    var prosent2 = SpråkProsent2.Substring(0, SpråkProsent2.Length - 1);

                                    <div class="col-md-6" id="språk@(antallSliderSpråk)">
                                        <div class="form-group">
                                            <input value="@SpråkNavn2" id="språkbar@(antallSliderSpråk)" />
                                            <div class="input-group">
                                                <input class="slider-general" id="språkSlider@(antallSliderSpråk)" data-slider-id='ex1Slider' value="@prosent2" type="range" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" oninput="sliderFunc('språksliderTekst@(antallSliderSpråk)','språkSlider@(antallSliderSpråk)')" />
                                                <button id="@(antallSliderSpråk)språkbutton" style="position:absolute; right:6%; bottom:110%" onclick="onDelete('språk@(antallSliderSpråk)', @antallSliderSpråk, 'Språk')"><i class="fas fa-window-close fa-sm"></i></button>
                                                <p id="språksliderTekst@(antallSliderSpråk)">@SpråkProsent2</p>
                                            </div>

                                        </div>
                                    </div> <!-- end col -->

                                    antallSliderSpråk += 2;

                                }

                                else
                                {
                                    <div class="col-md-6" id="språk0">
                                        <div class="form-group">
                                            <input placeholder="skill" id="språkbar0" />
                                            <div class="input-group">
                                                <input class="slider-general" id="språkSlider0" data-slider-id='ex1Slider' value="50" type="range" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" oninput="sliderFunc('språksliderTekst0','språkSlider0')" />
                                                <p id="språksliderTekst@(antallSliderSpråk)">50%</p>
                                            </div>

                                        </div>
                                    </div> <!-- end col -->
                                }
                        </div> <!-- end row -->


                        <div class="text-right">
                            <span id="danger_språk" class="text-danger"></span>
                            <button id="addSkillButton" class="btn btn-primary buttons mt-2" onclick="addSlider('språkEdit')"><i class="fas fa-plus"></i> Add</button>
                            <button id="submitSkillButton" class="btn btn-primary buttons mt-2" onclick="registrerSliders('@BrukerInnhold.Id', 'språkEdit')"><i class="mdi mdi-content-save"></i> Save</button>
                        </div>

                        <!-- end settings content-->

                    </div> <!-- end tab-content -->

                        
                </div> <!-- end card-box-->
            </div> <!-- end col -->
        </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #55586b; border-color: black;">
                    <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="        background-color: #1b2638;">
                    Are you sure you want to delete that ?!
                </div>
                <div class="modal-footer" style="        background-color: #1b2638; border-color: #1b2638;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" style="background-color: red; border-color: red;">DELETE</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    function addSlider(type) {

        var list = document.getElementById(type).lastElementChild;

        var nyId = parseInt(list.id.substring(5, list.id.length))+2;
        var skill = "";
        var bar = "";
        var tekst = "";
        var slider = "";
        var skillButton = "";
        if (type == "skillsEdit") {
            skill = "skill" + nyId;
            bar = "skillbar" + nyId;
            tekst = "sliderTekst" + nyId;
            slider = "skillSlider" + nyId;
            skillButton = nyId + "skillbutton"
        } else if (type == "språkEdit") {
            skill = "språk" + nyId;
            bar = "språkbar" + nyId;
            tekst = "språksliderTekst" + nyId;
            slider = "språkSlider" + nyId;
            skillButton = nyId + "språkbutton"
        }

      //  alert(skill + " " + bar + " " + tekst + " " + slider);
        var tag = "<div class='col-md-6' id='"+ skill +"'>" +
                         " <div class='form-group'>" +
                                   " <input placeholder='skill' id='" + bar + "' />" +
                                          " <div class='input-group'>" +
                                                  " <input class='slider-general' id='" + slider + "' data-slider-id='ex1Slider' value='50'" +
                                                     " type='range' data-slider-min='0' data-slider-max='20' data-slider-step='1' data-slider-value='14' " +
            " />" +
            " <button id='" + skillButton + "' style='position:absolute; right:6%; bottom:110%'><i class='fas fa-window-close fa-sm'></i></button> " +
                                                     "<p id='" + tekst + "'>50%</p>" +
                                          "</div>" +
                             "</div>" +
            "</div>";
       var element = document.getElementById(type);
        element.insertAdjacentHTML('beforeend', tag);
        document.getElementById(slider).onchange = function () {
            sliderFunc(tekst, slider);
        };
        document.getElementById(skillButton).onclick = function () {
            alert("delete er meg");
          //  onDelete(skill, 0, 'slider');
          
         
        }
    }
    function testResponse() {
        alert("HEEY ");
    }
    function registrerSliders(brukerID, type) {

        var i;
        var antall = (document.getElementById(type).childElementCount * 2);
        var arr = [];
        var Slider ="";
        var Bar = "";
        var kategori = "";
        var danger = "";
        if (type == "skillsEdit") {
            Slider = "skillSlider";
            Bar = "skillbar";
            kategori = "Ferdigheter";
            danger = "danger_skills"
        }
        else if (type == "språkEdit") {
             Slider = "språkSlider";
             Bar = "språkbar";
            kategori = "Språk";
            danger = "danger_språk"
        }
        for (i = 0; i < antall; i += 2) {
            var nySlider = Slider + i;
            var nyBar = Bar + i;
            var slid = document.getElementById(nySlider).value + "%";
            var tek = document.getElementById(nyBar).value;

            if (slid == "" || tek == "") {
                var text = document.createTextNode("Please fill in all inputs!");
                document.getElementById(danger).appendChild(text);
                return;
            }

            arr[i] = tek;
            arr[i + 1] = slid;

        }

        saveEdit(brukerID, kategori, "0", "", "", "", "", "", arr);

        if (type == "skillsEdit") {
            $('.toast').toast('show');
            document.getElementById("toast").style.display = "inline";
            document.getElementById("toast-body").innerHTML = "Added/Edited skills successfull!";
        }
        else {
            $('.toast').toast('show');
            document.getElementById("toast").style.display = "inline";
            document.getElementById("toast-body").innerHTML = "Added/Edited languages successfull!";
        }
    }
    function sliderFunc(id, slider) {

       var x1 = document.getElementById(slider).value;
       x2 = document.getElementById(id);
        x2.innerHTML = x1 + '%';
    }
    function addEdit(id, buttonID, buttonIDRed) {
        document.getElementById(id).classList.add("editClass");
        document.getElementById(buttonID).style.display = "inline";
        document.getElementById(buttonIDRed).style.display = "inline";
        document.getElementById(submit).style.display = "inline";
    }
    function removeEdit(id, buttonID, buttonIDRed) {
        document.getElementById(id).classList.remove("editClass");
        document.getElementById(buttonID).style.display = "none";
        document.getElementById(buttonIDRed).style.display = "none";
        document.getElementById(submit).style.display = "none";
    }
    function onDelete(id, index, felt) {
        alert("delete er meg");
        $("#exampleModal").modal();
        if (felt == "slider") {
            document.getElementById(id).remove();
        } else document.getElementById(id).style.display = "none";
        if (felt != "slider") {
        var json = {
            "felt": felt,
            "index": index,
        };
          $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteCV", "ProfilSide")',
                    data: json,
                    dataType: "json",
                    success: function (result) {
                       // alert("Dette er resultatet " + result.result);
                    }
          });
        }
    }
        function onEdit(type, index, årDatDiv, årFra, årTil, tittel, bedrift, bio, submitKnapp) {

        document.getElementById(submitKnapp).style.display = "inline";
        var tittVerdi = document.getElementById(tittel).innerHTML;
            var bedVerdi = document.getElementById(bedrift).innerHTML;

            var årF1 = String(årFra);
            var årf = årF1.replace(".", "-");
            var årF2 = String(årTil);
            var årT = årF2.replace(".", "-");

        document.getElementById(tittel).outerHTML = "</br><input id=" +tittel+" value='" + tittVerdi+ "' class='mt-0 mb-1 form-control col-6'/></br>";
        document.getElementById(bedrift).outerHTML = "<input id=" + bedrift +" value='" + bedVerdi + "' class='form-control col-6' /></br>";
            document.getElementById(årDatDiv).outerHTML = "<div class='row'><div class='col-4'><input class='form-control' id='" + (årFra + index) + "' value='" + årf +"' type='month' /></div> - <div class='col-4'><input class='form-control' id='" + (årTil + index) + "'  value='"+årT+"' type='month' /></br></div></div>";
        if (type == "ArbeidsErfaring") {
            var biVerdi = document.getElementById(bio).innerHTML;
            document.getElementById(bio).outerHTML = "<textarea class='form-control' id=" + bio + " class='text-muted mt-2' rows='3' cols='50'>" + biVerdi + "</textarea>";
        }
    }
    function saveEdit(bruker, felt, index, årFra, årTil, tittel, bedrift, bio, array) {
        var bion = '';
        var fra ='';
        var til = '';
        var årf ='';
        var årT = '';
        var spanField = "spanU"; 

        if (felt != "Ferdigheter" && felt != "Språk") {
         fra = document.getElementById(årFra);
            til = document.getElementById(årTil);
            var årF1 = String(fra.value);
            var årf = årF1.replace("-", ".");
            var årF2 = String(til.value);
            var årT = årF2.replace("-", ".");
        }
        if (felt == "ArbeidsErfaring") {
            bion = bio.value;
            spanField = "spanA"; 
            if (bion == "") {
                var text = document.createTextNode("Please fill in all inputs!");
                document.getElementById(index+spanField).appendChild(text);
                return;
            }

        }


        if (tittel.value == "" || bedrift.value == "") {
            var text = document.createTextNode("Please fill in all inputs!");
            document.getElementById(index + spanField).appendChild(text);
            return;
        }
        var json = {
             "bruker": bruker,
            "felt": felt,
              "index": index,
              "årFra": årf,
              "årTil": årT,
              "tittel": tittel.value,
              "bedrift": bedrift.value,
            "bio": bion,
            "array": array
        };
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateCV", "ProfilSide")',
            data: json,
            dataType: "json",
            success: function (result) {
                if (result.status == "ok")
                    if(felt != "Ferdigheter" && felt != "Språk")
                        window.location.reload();

            }
        });
        //alert("third");
    }
    </script>

    @section Scripts {


        <script>
        $(document).ready(function () {
        document.getElementById("submitArbeid").addEventListener('click', function (event) {

        event.preventDefault();
        var felt = "Arbeidserfaring";
            var startÅr = $('#startYearA').val().replace("-", ".");
            var sluttÅr = $('#endYearA').val().replace("-", ".");

          //  var splittmånedStart = startÅ.split("-");
           // var splittmånedSlutt = sluttÅ.split("-")
          // var startÅr = res[0] + "."+res[1];


        var jobbTittel = $('#jobTitleA').val();
        var bedriftNavn = $('#companyNameA').val();
            var jobbBeskrivelse = $('#userbio').val();
            if (startÅr == "" || sluttÅr == "" || jobbTittel == "" || bedriftNavn == "" || jobbBeskrivelse == "") {
                var text = document.createTextNode("Please fill in all inputs!");
                document.getElementById("danger_arbeid").appendChild(text); 
                return; 
            }
            else {
                $('.toast').toast('show');
                document.getElementById("toast").style.display = "inline";
                document.getElementById("toast-body").innerHTML = "Added new education!";

                $('#startYearA').val("");
                $('#endYearA').val("");
                $('#jobTitleA').val("");
                $('#companyNameA').val("");
                $('#userbio').val("");

                var jsonJobb = {
                 "felt": felt,
                 "par1": startÅr,
                  "par2": sluttÅr,
                 "par3": jobbTittel,
                 "par4": bedriftNavn,
                 "par5": jobbBeskrivelse
                };

                ajaxUpload(jsonJobb);
            }
        });

        document.getElementById("submitSkole").addEventListener('click', function (event) {
            
        event.preventDefault();
        var felt = "Utdanning";
        var startÅr = $('#startYearU').val().replace("-", ".");
        var sluttÅr = $('#endYearU').val().replace("-", ".");

        var jobbTittel = $('#linje').val();
            var bedriftNavn = $('#skolename').val();

            if (startÅr == "" || sluttÅr == "" || jobbTittel == "" || bedriftNavn == "") {
                var text = document.createTextNode("Please fill in all inputs!");
                document.getElementById("danger_skole").appendChild(text);
                return;
            } else {

                $('.toast').toast('show');
                document.getElementById("toast").style.display = "inline";
                document.getElementById("toast-body").innerHTML = "Added new education!";
               $('#startYearU').val("");
                $('#endYearU').val("");
                $('#linje').val("");
                $('#skolename').val("");
                 var jsonJobb = {
                   "felt": felt,
                   "par1": startÅr,
                   "par2": sluttÅr,
                   "par3": jobbTittel,
                   "par4": bedriftNavn,
                   "par5": ""
                };
    
                ajaxUpload(jsonJobb);
          
                }
        });


            function ajaxUpload(json) {
             $.ajax({
                    type: "POST",
                    url: '@Url.Action("LeggTilCV", "ProfilSide")',
                    data: json,
                    dataType: "json",
                    success: function (result) {
                    
        }
        });
        }
        })
        </script>
    }
