@using Portefolio_webApp.Models
@model Portefolio_webApp.Models.Bruker;

@{
    var BrukerInnhold = (Portefolio_webApp.Models.Bruker)ViewData["Bruker_Innhold"];
}

<link href="~/css/PortefølgeBody.css" rel="stylesheet" />
<link href="~/css/PorteføljeElementer.css" rel="stylesheet" />
<link href="~/css/Musikkontroller.css" rel="stylesheet" />
<script src="~/js/lyd.js"></script>

<script>

    $(document).ready(function () {
        var hash = window.location.hash;
        hash && $('#v-pills-tab a[href="' + hash + '"]').tab('show');
    });

</script>








@{
    var antall = 0;
}
<div class="d-flex align-items-start">
    <div class="mapper">
        <div class="nav flex-column nav-pills nav-fill me-3 mapper" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            @while (antall < BrukerInnhold.Mapper.Count)
            {
                var Mappe = BrukerInnhold.Mapper.ElementAt(antall);
                <a class="nav-link" id="@Mappe.MappeNavn-tab" data-bs-toggle="pill" href="#v-pills-@Mappe.MappeNavn" role="tab" aria-controls="v-pills-@Mappe.MappeNavn" aria-selected="false">@Mappe.MappeNavn</a>
                antall++;
            }
        </div>
    </div>


    <div class="awesome-portfolio-area fix portfolio_container">
        <div class="tab-content" id="v-pills-tabContent">


            @{

                var mappeNr = 0;
            }
            @while (mappeNr < BrukerInnhold.Mapper.Count)
            {
                antall = 0;
                var Mappe = BrukerInnhold.Mapper.ElementAt(mappeNr);
                <div class="tab-pane fade" id="v-pills-@Mappe.MappeNavn" role="tabpanel" aria-labelledby="@Mappe.MappeNavn-tab">

                    @while (antall < Mappe.MappeInnhold.Count)
                    {

                        Innlegg Innlegg = Mappe.MappeInnhold.ElementAt(antall);

                        <!-- single-awesome-portfolio start -->
                        <div class="single-awesome-portfolio">
                            <a href="#">
                                <div class="awesome-img">
                                    <div class="awesome-info">
                                        <h3>@Innlegg.Beskrivelse</h3>
                                        <p>@Innlegg.Tittel</p>
                                    </div>
                                    <img class="imge" src="@Innlegg.IkonURL" alt="">
                                </div>

                            </a>
                        </div>
                        <!-- single-awesome-portfolio end -->
                        var lol = Innlegg.Tittel;
                        Console.WriteLine(lol);
                        antall++;
                    }
                </div>
                mappeNr++;
            }
            <div class="music_player">

                <div class="play_button_div"></div>
                <img id="sangi" class="play_button shadowed" src="../resources/icons8-play-96.png" onclick='spillAv("sang", this.id); visSang("sangnavn", "artist")' />
                <audio id="sang" class="lydspor" preload="metadata" ontimeupdate="timer(this.id); var minutter = Math.floor(this.currentTime / 60); var sekunder = Math.floor(this.currentTime - minutter * 60); var minutter1 = Math.floor(this.duration / 60); var sekunder1 = Math.floor(this.duration - minutter1 * 60); document.getElementById('tracktime').innerHTML = minutter + ':' + ('0' + sekunder).slice(-2); document.getElementById('trackduration').innerHTML = minutter1 + ':' + ('0' + sekunder1).slice(-2);" src="https://firebasestorage.googleapis.com/v0/b/bachelor-it-97124.appspot.com/o/images%2FPok%C3%A9mon%20Theme%20Song.mp3?alt=media&token=bccacd1c-ed6a-4050-8745-b1ee3bb50f96"></audio>
                <img class="fuck imge" src="https://gameriv.com/wp-content/uploads/2021/01/Untitled-1-23-696x392.jpg" />
                <p id="sangnavn">Pokémon Theme</p>
                <p id="artist">IDFK</p>

            </div><div class="music_player">

                <div class="play_button_div"></div>
                <img id="sangi" class="play_button shadowed" src="../resources/icons8-play-96.png" onclick='spillAv("sang", this.id); visSang("sangnavn", "artist")' />
                <audio id="sang" class="lydspor" preload="metadata" ontimeupdate="timer(this.id); var minutter = Math.floor(this.currentTime / 60); var sekunder = Math.floor(this.currentTime - minutter * 60); var minutter1 = Math.floor(this.duration / 60); var sekunder1 = Math.floor(this.duration - minutter1 * 60); document.getElementById('tracktime').innerHTML = minutter + ':' + ('0' + sekunder).slice(-2); document.getElementById('trackduration').innerHTML = minutter1 + ':' + ('0' + sekunder1).slice(-2);" src="https://firebasestorage.googleapis.com/v0/b/bachelor-it-97124.appspot.com/o/images%2FPok%C3%A9mon%20Theme%20Song.mp3?alt=media&token=bccacd1c-ed6a-4050-8745-b1ee3bb50f96"></audio>
                <img class="fuck imge" src="https://gameriv.com/wp-content/uploads/2021/01/Untitled-1-23-696x392.jpg" />
                <p id="sangnavn">Pokémon Theme</p>
                <p id="artist">IDFK</p>

            </div><div class="music_player">

                <div class="play_button_div"></div>
                <img id="sangi" class="play_button shadowed" src="../resources/icons8-play-96.png" onclick='spillAv("sang", this.id); visSang("sangnavn", "artist")' />
                <audio id="sang" class="lydspor" preload="metadata" ontimeupdate="timer(this.id); var minutter = Math.floor(this.currentTime / 60); var sekunder = Math.floor(this.currentTime - minutter * 60); var minutter1 = Math.floor(this.duration / 60); var sekunder1 = Math.floor(this.duration - minutter1 * 60); document.getElementById('tracktime').innerHTML = minutter + ':' + ('0' + sekunder).slice(-2); document.getElementById('trackduration').innerHTML = minutter1 + ':' + ('0' + sekunder1).slice(-2);" src="https://firebasestorage.googleapis.com/v0/b/bachelor-it-97124.appspot.com/o/images%2FPok%C3%A9mon%20Theme%20Song.mp3?alt=media&token=bccacd1c-ed6a-4050-8745-b1ee3bb50f96"></audio>
                <img class="fuck imge" src="https://gameriv.com/wp-content/uploads/2021/01/Untitled-1-23-696x392.jpg" />
                <p id="sangnavn">Pokémon Theme</p>
                <p id="artist">IDFK</p>

            </div><div class="music_player">

                <div class="play_button_div"></div>
                <img id="sangi" class="play_button shadowed" src="../resources/icons8-play-96.png" onclick='spillAv("sang", this.id); visSang("sangnavn", "artist")' />
                <audio id="sang" class="lydspor" preload="metadata" ontimeupdate="timer(this.id); var minutter = Math.floor(this.currentTime / 60); var sekunder = Math.floor(this.currentTime - minutter * 60); var minutter1 = Math.floor(this.duration / 60); var sekunder1 = Math.floor(this.duration - minutter1 * 60); document.getElementById('tracktime').innerHTML = minutter + ':' + ('0' + sekunder).slice(-2); document.getElementById('trackduration').innerHTML = minutter1 + ':' + ('0' + sekunder1).slice(-2);" src="https://firebasestorage.googleapis.com/v0/b/bachelor-it-97124.appspot.com/o/images%2FPok%C3%A9mon%20Theme%20Song.mp3?alt=media&token=bccacd1c-ed6a-4050-8745-b1ee3bb50f96"></audio>
                <img class="fuck imge" src="https://gameriv.com/wp-content/uploads/2021/01/Untitled-1-23-696x392.jpg" />
                <p id="sangnavn">Pokémon Theme</p>
                <p id="artist">IDFK</p>

            </div><div class="music_player">

                <div class="play_button_div"></div>
                <img id="sangi" class="play_button shadowed" src="../resources/icons8-play-96.png" onclick='spillAv("sang", this.id); visSang("sangnavn", "artist")' />
                <audio id="sang" class="lydspor" preload="metadata" ontimeupdate="timer(this.id); var minutter = Math.floor(this.currentTime / 60); var sekunder = Math.floor(this.currentTime - minutter * 60); var minutter1 = Math.floor(this.duration / 60); var sekunder1 = Math.floor(this.duration - minutter1 * 60); document.getElementById('tracktime').innerHTML = minutter + ':' + ('0' + sekunder).slice(-2); document.getElementById('trackduration').innerHTML = minutter1 + ':' + ('0' + sekunder1).slice(-2);" src="https://firebasestorage.googleapis.com/v0/b/bachelor-it-97124.appspot.com/o/images%2FPok%C3%A9mon%20Theme%20Song.mp3?alt=media&token=bccacd1c-ed6a-4050-8745-b1ee3bb50f96"></audio>
                <img class="fuck imge" src="https://gameriv.com/wp-content/uploads/2021/01/Untitled-1-23-696x392.jpg" />
                <p id="sangnavn">Pokémon Theme</p>
                <p id="artist">IDFK</p>

            </div>



        </div>




    </div>
</div>




<!--<div class="music_player">

    <div class="play_button_div"></div>
    <img id="sangi" class="play_button shadowed" src="../resources/icons8-play-96.png" onclick='spillAv("sang", this.id); visSang("sangnavn", "artist")' />
    <audio id="sang" class="lydspor" preload="metadata" ontimeupdate="timer(this.id); var minutter = Math.floor(this.currentTime / 60); var sekunder = Math.floor(this.currentTime - minutter * 60); var minutter1 = Math.floor(this.duration / 60); var sekunder1 = Math.floor(this.duration - minutter1 * 60); document.getElementById('tracktime').innerHTML = minutter + ':' + ('0' + sekunder).slice(-2); document.getElementById('trackduration').innerHTML = minutter1 + ':' + ('0' + sekunder1).slice(-2);" src="https://firebasestorage.googleapis.com/v0/b/bachelor-it-97124.appspot.com/o/images%2FPok%C3%A9mon%20Theme%20Song.mp3?alt=media&token=bccacd1c-ed6a-4050-8745-b1ee3bb50f96"></audio>
    <img class="fuck" src="https://gameriv.com/wp-content/uploads/2021/01/Untitled-1-23-696x392.jpg" />
    <p id="sangnavn">Pokémon Theme</p>
    <p id="artist">IDFK</p>

</div>


<div class="music_player">

    <div class="play_button_div"></div>
    <img id="sang1i" class="play_button shadowed" src="../resources/icons8-play-96.png" onclick='spillAv("sang1", this.id); visSang("sangnavn1", "artist1")' />
    <audio id="sang1" class="lydspor" preload="metadata" ontimeupdate="timer(this.id); var minutter = Math.floor(this.currentTime / 60); var sekunder = Math.floor(this.currentTime - minutter * 60);var minutter1 = Math.floor(this.duration / 60); var sekunder1 = Math.floor(this.duration - minutter1 * 60); document.getElementById('tracktime').innerHTML = minutter + ':' + ('0' + sekunder).slice(-2); document.getElementById('trackduration').innerHTML = minutter1 + ':' + ('0' + sekunder1).slice(-2); " src="~/resources/Habibi.mp3"></audio>
    <img class="fuck" src="https://preview.redd.it/f5fin913ari31.jpg?auto=webp&s=399cff2568b4b1fc8d61ebc8d3f531569e13ad93" />
    <p id="sangnavn1">Habibi</p>
    <p id="artist1">Pokelawls</p>

</div>-->
<!--<div class="litteratur">
        <img class="book_cover" src="https://m.media-amazon.com/images/I/514FIoHpsmL.jpg" />
        <h3 class="tittel">Den fantastiske Mikkel Rev er en veldig bra film og bok</h3>-59 characters Kan ikke telle
    <h4 class="forfatter">Roal Dahl</h4>
</div>-->



<div class="musikk_kontroller" id="test">
    <span id="sangfelt"></span>
    <span id="artistfelt"></span>

    <span id="tracktime">00:00</span>
    <progress id="seekbar" value="0" max="100"></progress>
    <span id="trackduration">00:00</span>

    <img class="stopper" src="../resources/icons8-pause-96.png" onclick="stopAll()" />

    <input type="range" id="volume-control" value="5" min="0" max="10" onload="volum(this.value)" onchange="volum(this.value)">
</div>

<svg height="0" xmlns="http://www.w3.org/2000/svg">
    <filter id="drop-shadow">
        <feGaussianBlur in="SourceAlpha" stdDeviation="4" />
        <feOffset dx="4" dy="4" result="offsetblur" />
        <feFlood flood-color="rgba(0,0,0,0.8)" />
        <feComposite in2="offsetblur" operator="in" />
        <feMerge>
            <feMergeNode />
            <feMergeNode in="SourceGraphic" />
        </feMerge>
    </filter>
</svg>



<script src="https://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>