@using Portefolio_webApp.Models
@model Portefolio_webApp.Models.Bruker;

@{
    var BrukerInnhold = (Portefolio_webApp.Models.Bruker)ViewData["Bruker_Innhold"];
}


<style>
    body {
        background-color: #e2e8f0;
    }

    .nav {
        width: 120px;
    }

    .nav-pills .nav-link .active {
        background-color: rgb(2, 117, 216)
    }

    .mapper {
        width: 200px;
        margin-right: 10px;
    }


    /*                                          PORTFOLIO                                             */
    /*////////////////////////////////////////////////////////////////////////////////////////////////*/


    .awesome-portfolio-area {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
        overflow: hidden;
        padding: 10px;
    }


    .awesome-portfolio {
    }

    .single-awesome-portfolio {
        margin: 2px;
        float: left;
        overflow: hidden;
        position: relative;
    }

        .single-awesome-portfolio a {
            position: relative;
            display: block;
        }



    /*                                            BILDER                                               */
    /*/////////////////////////////////////////////////////////////////////////////////////////////////*/

    .awesome-img {
        width: 310px;
        height: 310px;
        overflow: hidden;
        position: relative;
        transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s;
        z-index: 2;
        display: block
    }

        .awesome-img img {
            min-height: 100%;
            min-width: 100%;
        }

    .awesome-info {
        background-color: #282727;
        height: 25%;
        padding: 20px 30px 12px;
        position: absolute;
        bottom: 0;
        width: 100%;
        opacity: 0;
        display: block;
        transition: opacity .3s ease-out;
        -moz-transition: opacity .3s ease-out;
        -webkit-transition: opacity .3s ease-out;
        -o-transition: opacity .3s ease-out;
    }

        .awesome-info h3 {
            color: #fff;
            font-size: 16px;
            margin-bottom: 3px;
        }

        .awesome-info p {
            color: #aaa;
            font-size: 12px;
        }

    /**/


    .single-awesome-portfolio a:hover .awesome-info {
        /*transform: translateY(100%);*/
        opacity: .8;
    }

    /**/



    .awesome-portfolio-content .mix {
        display: none;
    }
    /**/


    img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    /**/

    /*                                           MUSIKK                                            */
    /*777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777*/

    .music_player {
        margin: 2px;
        float: left;
        width: 300px;
        height: 300px;
        overflow: hidden;
        position: relative;
        display: block;
    }





    .fuck {
        min-height: 100%;
        min-width: 100%;
    }

    .play_button_div {
        background-color: #dbdbdb;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        opacity: 0;
        display: block;
    }

    .play_button {
        position: absolute;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 100px;
        margin-right: 100px;
        opacity: 0;
        width: 100px;
        height: 100px;
    }

        .play_button:active {
            transform: scale(.95);
            filter: brightness(50%);
        }

    .music_player:hover .play_button {
        opacity: 1;
    }


    .music_player:hover .play_button_div {
        opacity: .6;
    }



    .musikk_kontroller {
        position: sticky;
        z-index: 5;
        width: 100%;
        height: 50px;
        bottom: 0px;
        background: white;
        margin-left: auto;
        margin-right: auto;
    }

    .stopper {
        position: relative;
        margin: 5px 10px 5px;
        height: 40px;
        width: 40px;
    }

        .stopper:active {
            transform: scale(0.9);
        }

    .tid_container {
        width: 300px;
        overflow: hidden;
        height: 10px;
        margin-top: 20px;
        margin-left: 70px;
        margin-right: 20px;
        background: green;
        position: absolute;
    }

    .tid {
        width: 1px;
        height: 10px;
        background: red;
        transition: width .1s linear;
    }

    #seekbar {
        position: absolute;
        margin-left: 70px;
        margin-top: 17px;
    }


    /*                                              LITTERATUR                                          */
    /*//////////////////////////////////////////////////////////////////////////////////////////////////*/




    .litteratur {
        margin: 2px;
        float: left;
        width: 300px;
        height: 400px;
        position: relative;
        overflow: hidden;
        display: block;
        background: rgb(187, 201, 201);
    }

    .tittel {
        margin: 15px;
        font-size: 45px;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

    .forfatter {
        position: absolute;
        bottom: 0;
        margin-left: 15px;
        font-size: 23px;
    }

    .book_cover {
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        opacity: 1;
        z-index: 2;
        transition: opacity .2s ease-out;
        -moz-transition: opacity .2s ease-out;
        -webkit-transition: opacity .2s ease-out;
        -o-transition: opacity .2s ease-out;
    }

        .book_cover:hover {
            opacity: 0;
        }




    .clickable {
        border: 1px solid #333;
        background: #eee;
        height: 40px;
        width: 200px;
        margin: 15px;
        position: relative;
    }

    .display {
        height: 16px;
        position: absolute;
        width: 100%;
    }

    .progress {
        position: absolute;
        left: 0;
        top: 0;
        background: green;
        height: 40px;
        width: 10px;
    }
</style>

<script>


    function spillAv(sang, toggle) {
        var audio = document.getElementsByClassName('lydspor'),
            i = audio.length;
        var playpause = document.getElementsByClassName("play_button");
        var lyd = document.getElementById(sang);
        var loggle = document.getElementById(toggle);



        lyd.volume = 0.1;

        if (lyd.paused) {
            while (i--) {
                audio[i].pause();
                playpause[i].src = "https://i.kym-cdn.com/photos/images/newsfeed/001/472/527/adc.gif"
            };

            loggle.src = "https://i.kym-cdn.com/photos/images/masonry/001/860/209/a8a.jpg"
            lyd.play();
        }
        else {
            loggle.src = "https://i.kym-cdn.com/photos/images/newsfeed/001/472/527/adc.gif"
            lyd.pause();
        }





    };

    function visSang(sang, artist) {
        var sang = document.getElementById(sang).textContent;
        var artist = document.getElementById(artist).textContent;
        var sangfelt = document.getElementById("sangfelt");
        var artistfelt = document.getElementById("artistfelt");

        sangfelt.innerHTML = sang + " - ";
        artistfelt.innerHTML = artist;
    }



    function timer(lydId) {
        var lyd = document.getElementById(lydId);
        lyd = document.getElementById("seekbar").value = (lyd.currentTime * 100) / lyd.duration;

        /*var time = lyd.currentTime;
        var minutes = Math.floor(time / 60);
        var seconds = Math.floor(time);

        minutes = parseFloat(minutes);
        seconds = parseFloat(seconds);*/

        var tid = lyd.currentTime;
        var lengde = lyd.duration;



        //document.getElementById('tracktime').innerHTML = Math.floor(lyd.currentTime) + ' / ' + Math.floor(lyd.duration);
        // + " / " +

    }


    function stopAll() {
        var lyd = document.getElementsByClassName('lydspor');
        var playpause = document.getElementsByClassName("play_button");
        i = lyd.length;

        while (i--) {

            lyd[i].pause();
            playpause[i].src = "https://i.kym-cdn.com/photos/images/newsfeed/001/472/527/adc.gif"
        }
    };

    var info = document.getElementsByClassName("awesome-info");
    var image = document.getElementsByClassName("single-awesome-portfolio");




    $(function () {
        $('.awesome-portfolio-content').mixItUp({
            animation: {
                effects: 'rotateZ',
                duration: 1000,
            }
        });

        $('.blog-column-content').mixItUp({
            animation: {
                effects: 'scale',
                duration: 1000,
            }
        });

        $('.portfolio-column-content').mixItUp({
            animation: {
                effects: 'fade rotateY(-180deg)',
                duration: 1000,
            }
        });
    });

    /*$(function timer2(sanger) {
        var lol = "#" + sanger;
        $(lol).on('timeupdate', function () {
            $('#seekbar').attr("value", (this.currentTime * 100) / this.duration);
        });
    })*/


</script>








@{
    var antall = 0;
}
<div class="d-flex align-items-start">
    <div class="mapper">
        <div class="nav flex-column nav-pills nav-fill me-3 mapper" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            @while (antall < BrukerInnhold.Mapper.Count)
            {
                var Mappe = BrukerInnhold.Mapper.ElementAt(antall);
                <a class="nav-link" id="@Mappe.MappeNavn-tab" data-bs-toggle="pill" href="#v-pills-@Mappe.MappeNavn" role="tab" aria-controls="v-pills-@Mappe.MappeNavn" aria-selected="false">@Mappe.MappeNavn</a>
                antall++;
            }
        </div>
    </div>


    <div class="awesome-portfolio-area fix portfolio_container">
        <div class="tab-content" id="v-pills-tabContent">


            @{

                var mappeNr = 0;
            }
            @while (mappeNr < BrukerInnhold.Mapper.Count)
            {
                antall = 0;
                var Mappe = BrukerInnhold.Mapper.ElementAt(mappeNr);
                <div class="tab-pane fade" id="v-pills-@Mappe.MappeNavn" role="tabpanel" aria-labelledby="@Mappe.MappeNavn-tab">

                    @while (antall < Mappe.MappeInnhold.Count)
                    {

                        Innlegg Innlegg = Mappe.MappeInnhold.ElementAt(antall);

                        <!-- single-awesome-portfolio start -->
                        <div class="single-awesome-portfolio">
                            <a href="#">
                                <div class="awesome-img">
                                    <div class="awesome-info">
                                        <h3>@Innlegg.Beskrivelse</h3>
                                        <p>@Innlegg.Tittel</p>
                                    </div>
                                    <img src="@Innlegg.IkonURL" alt="">
                                </div>

                            </a>
                        </div>
                        <!-- single-awesome-portfolio end -->
                        var lol = Innlegg.Tittel;
                        Console.WriteLine(lol);
                        antall++;
                    }
                </div>
                mappeNr++;
            }

        </div>




    </div>
</div>




<div class="music_player">

    <div class="play_button_div"></div>
    <img id="sangi" class="play_button" src="https://i.kym-cdn.com/photos/images/newsfeed/001/472/527/adc.gif" onclick='spillAv("sang", this.id); visSang("sangnavn", "artist")' />
    <audio id="sang" class="lydspor" preload="metadata" ontimeupdate="timer(this.id); var minutter = Math.floor(this.currentTime / 60); var sekunder = Math.floor(this.currentTime - minutter * 60);var minutter1 = Math.floor(this.duration / 60); var sekunder1 = Math.floor(this.duration - minutter1 * 60); document.getElementById('tracktime').innerHTML = minutter +':' + ('0' + sekunder).slice(-2) + ' / ' + minutter1 + ':' + ('0' + sekunder1).slice(-2);" src="https://firebasestorage.googleapis.com/v0/b/bachelor-it-97124.appspot.com/o/images%2FPok%C3%A9mon%20Theme%20Song.mp3?alt=media&token=bccacd1c-ed6a-4050-8745-b1ee3bb50f96"></audio>
    <img class="fuck" src="https://gameriv.com/wp-content/uploads/2021/01/Untitled-1-23-696x392.jpg" />
    <p id="sangnavn">Pokémon Theme</p>
    <p id="artist">IDFK</p>

</div>


<div class="music_player">

    <div class="play_button_div"></div>
    <img id="sang1i" class="play_button" src="https://i.kym-cdn.com/photos/images/newsfeed/001/472/527/adc.gif" onclick='spillAv("sang1", this.id); visSang("sangnavn1", "artist1")' />
    <audio id="sang1" class="lydspor" preload="metadata" ontimeupdate="timer(this.id); var minutter = Math.floor(this.currentTime / 60); var sekunder = Math.floor(this.currentTime - minutter * 60);var minutter1 = Math.floor(this.duration / 60); var sekunder1 = Math.floor(this.duration - minutter1 * 60); document.getElementById('tracktime').innerHTML = minutter +':' + ('0' + sekunder).slice(-2) + ' / ' + minutter1 + ':' + ('0' + sekunder1).slice(-2); " src="~/css/Habibi.mp3"></audio>
    <img class="fuck" src="https://preview.redd.it/f5fin913ari31.jpg?auto=webp&s=399cff2568b4b1fc8d61ebc8d3f531569e13ad93" />
    <p id="sangnavn1">Habibi</p>
    <p id="artist1">Pokelawls</p>

</div>


<!--<div class="litteratur">
        <img class="book_cover" src="https://m.media-amazon.com/images/I/514FIoHpsmL.jpg" />
        <h3 class="tittel">Den fantastiske Mikkel Rev er en veldig bra film og bok</h3>-59 characters Kan ikke telle
    <h4 class="forfatter">Roal Dahl</h4>
</div>-->



<div class="musikk_kontroller" id="test">
    <span id="tracktime">0 / 0</span>
    <span id="sangfelt"></span>
    <span id="artistfelt"></span>

    <progress id="seekbar" value="0" max="100" style="width:400px;"></progress>


    <img class="stopper" src="https://66.media.tumblr.com/1a1c3bcc08b5a048b90139a56fe7f415/tumblr_o9ku1rVS8z1vnqjx7o2_250.png" onclick="stopAll()" />
</div>
<script src="https://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>