<!DOCTYPE html>
@using Portefolio_webApp.Models
@{
    var BrukerInnhold = (Portefolio_webApp.Models.Bruker)ViewData["Bruker"];
    var innloggetBruker = (Portefolio_webApp.Models.Bruker)ViewData["Innlogget_Bruker"];

    Boolean CVAdgang = false;
    if (BrukerInnhold.CVAdgang != null)
        for (int i = 0; i < BrukerInnhold.CVAdgang.Count; i++)
        {
            if ((string)ViewData["Innlogget_ID"] == BrukerInnhold.CVAdgang[i])
                CVAdgang = true;
        }
}


<html lang="en">

<head>
    <meta charset="utf-8">
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>profile with data and skills - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/ProfilSide.css" rel="stylesheet" />
    <link href="~/css/ProfilTopElementer.css?v=1" rel="stylesheet" />
    <script src="~/js/lyd.js"></script>
    <link href="~/css/Musikkontroller.css" rel="stylesheet" />
</head>


<script type="text/javascript">
    $("input[type='image']").click(function () {
        $("input[id='my_file']").click();
    });
    $(document).ready(function () {
        document.getElementById("toastbtn").addEventListener('click', function (event) {
            $('.toast').toast('show');
            document.getElementById("toast").style.display = "inline";
            document.getElementById("toast-body").innerHTML = "Something";
        });
    });
    function onDelete(id) {
        console.log("--------" + id + mindex + "---------")
        var mappe = document.getElementsByClassName("mappeindex"),
            i = mappe.length;
        var y = 0;
        var mindex = 0;
        while (y < i) {
            var mappeid = mappe[y].id;
            if (mappeid == id)
                break;
            mindex++;
            y++;
        }
        document.getElementById(id).remove();
        console.log(mindex);
        var json = {
            "mindex": mindex
        };
          $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteFolder", "ProfilSide")',
                    data: json,
                    dataType: "json",
                    success: function (result) {
                       // alert("Dette er resultatet " + result.result);
                    }
          });
    }
</script>

<style>
    .delete-folder {
        color: white;
        font-size: 20px;
        opacity: 0;
        position: absolute;
        right: 20px;
        top: 20px;
    }

        .delete-folder:hover {
            color: #1b6ec2;
        }

    .nav-item {
        position: relative;
        width: 120px;
    }

        .nav-item:hover .delete-folder {
            opacity: 1;
        }

    .delete-folder-div {
        background-color: transparent;
        border: none;
    }

    .folder {
        background-color: #384352;
        margin: 0px;
    }

    .shadowed {
        -webkit-filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.8));
        filter: url(#drop-shadow);
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#444')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#444')";
    }

    
    .folder-navn {
        color: white;
        font-size: 14px;
        top: 70%;
        left: 49%;
        transform: translate(-50%, -50%);
        max-width: 100px;
        max-height: 115px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        position: absolute;
        width: 100px;
    }

    .folder-bilde {
        width: 110px;
    }

    

    .portfolio-folders {
        text-align: center;
        color: white;
    }

    .container {
        color: white;
    }

    .rowinfo {
        color: white;
        text-decoration-color: white;
        font-size: 20px;
    }
</style>

<div style="display: flex; justify-content: flex-end">
    <div class="toast" id="toast" role="alert" aria-live="assertive" aria-atomic="true"
         style="
        display: none;
        position: fixed;
        z-index: 1;
        color: white;
        width: 199px;
        right: 3px;">
        <div class="toast-header" style="        background-color: #384352;">
            <i class="fas fa-bell" style="color: #1abc9c;"></i>
            <strong class="mr-auto" style="color: #1abc9c;"> &nbsp; Notification</strong>
        </div>
        <div class="toast-body" id="toast-body" style="
        color: pink;
        background-color: white;">
        </div>
    </div>
</div>


<body>
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body" id="pimgcard">
                            <div class="d-flex flex-column align-items-center text-center">
                                @if (@BrukerInnhold.Profilbilde != null)
                                {
                                    <input type="image" src="@BrukerInnhold.Profilbilde" alt="Admin" class="rounded-circle profilimg mt-2" width="200" />}

                                else
                                { <input type="image" src="https://firebasestorage.googleapis.com/v0/b/bachelor-it-97124.appspot.com/o/images%2Fdefault_account.jpg?alt=media&token=290b6907-f17e-4095-90a6-dca2c52563b9" alt="Admin" class="rounded-circle profilimg" width="200" />}



                                <div class="mt-2">
                                    <h4>@BrukerInnhold.Navn</h4>

                                    <p class="mt-2 mb-1">@BrukerInnhold.Stilling</p>
                                    <p class="font-size-sm">@BrukerInnhold.Bosted<p />
                                </div>
                                @if (BrukerInnhold.Id == (string)ViewData["Innlogget_ID"])
                                {
                                    <!--  <div class="col"> -->
                                    <button class="editbtn btn btn-primary buttons" onclick="location.href='@Url.Action("UpsertBruker", "ProfilSide")'"><i class="fas fa-edit">  Edit profile</i></button>
                                    <!-- </div>-->
                                }
                                else
                                {
                                    @if (CVAdgang)
                                    {
                                        <a asp-action="CV" asp-route-brukerID="@BrukerInnhold.Id"><button class="cvbtn btn btn-primary">Enter CV</button></a>
                                    }
                                    else
                                    {
                                        <a onclick="requestCV('@BrukerInnhold.Id', '@ViewData["Innlogget_ID"]', '@innloggetBruker.Navn')"><button class="cvbtn btn btn-primary">Request CV</button></a>
                                    }

                                }
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body minheight" id="pinfocard">
                            <div class="rowinfo">
                                <div class="col-sm-3">
                                    <div class="row justify-content-between">
                                        <div class="col-12">
                                            <h6 class="mb-0">Full name</h6>
                                        </div>
                                    </div>
                                </div>

                                <p class="col-sm-9">@BrukerInnhold.Navn</p>

                            </div>
                            <hr>
                            <div class="rowinfo">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">E-mail</h6>
                                </div>
                                <p class="col-sm-9">@BrukerInnhold.Email</p>
                            </div>
                            <hr>
                            <div class="rowinfo">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Biography</h6>
                                </div>
                                <p class="col-sm-12">@BrukerInnhold.Bio</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3 pt-3" style="text-align: center">
                        @if (BrukerInnhold.Navn.EndsWith("s") == true)
                        {
                            <h2>@BrukerInnhold.Navn' Folders</h2>
                        }
                        else
                        {
                            <h2>@BrukerInnhold.Navn's Folders</h2>
                        }
                        <hr />
                        <div class="card-body row">

                            @{
                                var antall = 0;
                            }

                            <div class="rowinfo col-sm">
                                <ul class="nav nav-pills nav-fill folder-nav tabs">

                                    @while (antall < BrukerInnhold.Mapper.Count)
                                    {
                                        var Mappe = BrukerInnhold.Mapper.ElementAt(antall);

                                        <li class="nav-item mappeindex" id="mappe-@antall">

                                            <a class="nav-link folder " asp-action="Portefølje" asp-route-brukerID="@BrukerInnhold.Id" asp-route-antall="@antall">
                                                <div class="folder-design">
                                                    <img class="folder-bilde shadowed" src="https://cdn.discordapp.com/attachments/803968433254694942/819190211472785468/Portfollowers_bilde.png" />
                                                    <span class="folder-navn">@Mappe.MappeNavn</span>
                                                </div>
                                            </a>
                                            <button class="delete-folder-div" onclick="onDelete('mappe-@antall')">
                                                <i class="far fa-trash-alt delete-folder"></i>
                                            </button>
                                        </li>
                                        antall++;
                                    }

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3 pt-3">
                        <h2 style="text-align: center">Recently uploaded</h2>
                        <hr />
                        <div class="card-body">
                            <div class="rowinfo">

                                @{

                                    var mappeNr = 0;
                                }
                                @while (mappeNr < BrukerInnhold.Mapper.Count)
                                {
                                    var Mappe = BrukerInnhold.Mapper.ElementAt(mappeNr);

                                    List<string> RecentList = new List<string>();

                                    var antall2 = (Mappe.MappeInnhold.Count - 1);
                                    var antall3 = 0;

                                    @while (antall2 > -1)
                                    {

                                        Innlegg Innlegg = Mappe.MappeInnhold.ElementAt(antall2);

                                        if (antall3 > 8)
                                            break;


                                        if (Innlegg.Kategori == null) { }
                                        else if (Innlegg.Kategori.Equals("Bilde"))
                                        {

                                            <!-- single-awesome-portfolio start -->
                                            <div class="single-awesome-portfolio">
                                                <a asp-controller="Innlegg" asp-action="Nav_Innlegg" asp-route-id=@Innlegg.Id class="card-link">
                                                    <div class="awesome-img">
                                                        <i class="far fa-image innlegg-ikon"></i>


                                                        <div class="awesome-info">
                                                            <h3>@Innlegg.Beskrivelse</h3>
                                                            <p>@Innlegg.Eier</p>
                                                        </div>
                                                        <img class="imge" src="@Innlegg.IkonURL" alt="" data-adaptive-background>
                                                    </div>

                                                </a>
                                            </div>
                                            <!-- single-awesome-portfolio end -->
                                        }

                                        else if (Innlegg.Kategori.Equals("Lyd"))
                                        {
                            <div class="music_player">
                                <img id="sang-@antall2" class="play_button shadowed" src="../resources/icons8-play-96.png" onclick='spillAv("sang-a-@antall2", this.id); visSang("sangnavn-@Innlegg.Id", "artist-@Innlegg.Id")' />

                                <a asp-controller="Innlegg" asp-action="Nav_Innlegg" asp-route-id=@Innlegg.Id class="card-link">
                                    <i class="fas fa-music innlegg-ikon"></i>
                                    <div class="play_button_div">

                                        <h3 class="sangnavn" id="sangnavn-@Innlegg.Id">@Innlegg.Tittel</h3>
                                        <p class="artist" id="artist-@Innlegg.Id">@Innlegg.Eier</p>
                                    </div>

                                    <audio id="sang-a-@antall2" class="lydspor" preload="metadata" ontimeupdate="timer(this.id); var minutter = Math.floor(this.currentTime / 60); var sekunder = Math.floor(this.currentTime - minutter * 60); var minutter1 = Math.floor(this.duration / 60); var sekunder1 = Math.floor(this.duration - minutter1 * 60); document.getElementById('tracktime').innerHTML = minutter + ':' + ('0' + sekunder).slice(-2); document.getElementById('trackduration').innerHTML = minutter1 + ':' + ('0' + sekunder1).slice(-2);" src="@Innlegg.IkonURL"></audio>
                                    <img class="fuck imge" src="@Innlegg.CoverURL" />
                                </a>

                            </div>
                                        }

                                        else if (Innlegg.Kategori.Equals("Tekst"))
                                        {
                                            <div class="litteratur">

                                                <a asp-controller="Innlegg" asp-action="Nav_Innlegg" asp-route-id=@Innlegg.Id>

                                                    <i class="far fa-file-alt innlegg-ikon"></i>


                                                    <img class="book_cover" src="@Innlegg.CoverURL" alt="" />
                                                    <div class="lit-tekst">
                                                        <h3 class="tittel">@Innlegg.Tittel</h3>
                                                        <h3 class="beskrivelse">@Innlegg.Beskrivelse</h3>
                                                        <h4 class="forfatter">@Innlegg.Eier</h4>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                        var lol = Innlegg.Tittel;
                                        Console.WriteLine(lol);

                                        antall2--;
                                        antall3++;

                                    }
                                    mappeNr++;
                                }


                            </div>
                        </div>
                    </div>
                </div>










                <!--href="https://localhost:44344/ProfilSide/Portef%C3%B8lje#v-pills-@antall"-->




                <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
                <script src="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
                <script src="https://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>



                <!-- For later  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">  -->


                <div class="musikk_kontroller" id="test">
                    <span id="sangfelt"></span>
                    <span id="artistfelt"></span>

                    <span id="tracktime">00:00</span>
                    <progress id="seekbar" value="0" max="100"></progress>
                    <span id="trackduration">00:00</span>

                    <img class="stopper" src="../resources/icons8-pause-96.png" onclick="stopAll()" />

                    <input type="range" id="volume-control" value="10" min="0" max="10" onload="volum(this.value)" onchange="volum(this.value)">
                </div>

                <svg height="0" xmlns="http://www.w3.org/2000/svg">
                    <filter id="drop-shadow">
                        <feGaussianBlur in="SourceAlpha" stdDeviation="4" />
                        <feOffset dx="4" dy="4" result="offsetblur" />
                        <feFlood flood-color="rgba(0,0,0,0.8)" />
                        <feComposite in2="offsetblur" operator="in" />
                        <feMerge>
                            <feMergeNode />
                            <feMergeNode in="SourceGraphic" />
                        </feMerge>
                    </filter>
                </svg>

</body>
</html>


<script>

                        function requestCV(eierID, senderID, navn) {
                        var today = new Date();
                        var dd = String(today.getDate()).padStart(2, '0');
                        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                        var yyyy = today.getFullYear();
                        today = mm + '/' + dd + '/' + yyyy;
                        var jsonNotfic = {
                            "type": "CV",
                            "erLest": false,
                            "FraHvemID": senderID,
                            "FraHvemNavn": navn,
                            "TilHvemID": eierID,
                            "innleggID": "",
                            "Tidspunkt": today
                        };
                              $.ajax({
                                      type: "POST",
                                      url: '@Url.Action("RequestCV", "ProfilSide")',
                                         data: jsonNotfic,
                                         dataType: "json",
                                     success: function (result) {
                                         alert("Notfication har blitt sendt! ");
                                     }
                                    });
                        }
    $(document).ready(function () {
        var heightInfo = document.getElementById("pinfocard").clientHeight;
        document.getElementById('pimgcard').style.height = heightInfo + 'px';
    });
</script>