<!DOCTYPE html>

@{
    var BrukerInnhold = (Portefolio_webApp.Models.Bruker)ViewData["Bruker"];

}

<html lang="en">

<head>
    <meta charset="utf-8">
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>profile with data and skills - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/ProfilSide.css?v=1" rel="stylesheet" />
</head>

<script type="text/javascript">

    $("input[type='image']").click(function () {
        $("input[id='my_file']").click();
    });



    $(document).ready(function () {

        document.getElementById("toastbtn").addEventListener('click', function (event) {
            $('.toast').toast('show');
            document.getElementById("toast").style.display = "inline";
            document.getElementById("toast-body").innerHTML = "Something";
        });
    });

    function onDelete(id, index, navn) {


        document.getElementById(id).style.display = "none";

        var json = {
            "navn": navn,
            "index": index,
        };
          $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteFolder", "ProfilSide")',
                    data: json,
                    dataType: "json",
                    success: function (result) {
                       // alert("Dette er resultatet " + result.result);
                    }
          });


    }

</script>

<style>

    .delete-folder {
        color: white;
        font-size: 20px;
    }

    .delete-folder-div {
    }

    .folder {
        background-color: #212529;
        margin: 20px;
    }

    .folder-nav {
        text-align: center;
        width: 95%;
        margin: 0 auto;
    }

    .shadowed {
        -webkit-filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.8));
        filter: url(#drop-shadow);
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#444')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#444')";
    }

    .folder-nav a {
        display: inline-block;
    }

    .folder-design {
        position: relative;
    }

    .folder-navn {
        color: white;
        font-size: 16px;
        top: 70%;
        left: 48%;
        transform: translate(-50%, -50%);
        max-width: 300px;
        max-height: 115px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        position: absolute;
        width: 100px;
    }

    .folder-bilde {
        width: 70px;
        position: relative;
    }

    .devider {
        width: 90%;
        margin-top: 25px;
        margin-bottom: -15px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .line {
        position: absolute;
        width: 40%;
        height: 0;
        color: #ffffff;
        border-color: white;
        border-top: 2px solid;
    }

    .right-line {
        top: 3px;
        right: 0;
    }

    .left-line {
        top: 3px;
    }


    .portfolio-folders {
        text-align: center;
        color: white;
    }

    .container {
        color: white;
    }

    .rowinfo {
        color: white;
        text-decoration-color: white;
        font-size: 20px;
    }

</style>

<div style="display: flex; justify-content: flex-end">
    <div class="toast" id="toast" role="alert" aria-live="assertive" aria-atomic="true"
         style="
        display: none;
        position: fixed;
        z-index: 1;
        color: white;
        width: 199px;
        right: 3px;">
        <div class="toast-header" style="        background-color: #384352;">
            <i class="fas fa-bell" style="color: #1abc9c;"></i>
            <strong class="mr-auto" style="color: #1abc9c;"> &nbsp; Notification</strong>
        </div>
        <div class="toast-body" id="toast-body" style="
        color: pink;
        background-color: white;">
        </div>
    </div>
</div>


<body>
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                @if (@BrukerInnhold.Profilbilde != null)
                                {
                                    <input type="image" src="@BrukerInnhold.Profilbilde" alt="Admin" class="rounded-circle profilimg" width="150" />}

                                else
                                { <input type="image" src="https://firebasestorage.googleapis.com/v0/b/bachelor-it-97124.appspot.com/o/images%2Fdefault_account.jpg?alt=media&token=290b6907-f17e-4095-90a6-dca2c52563b9" alt="Admin" class="rounded-circle profilimg" width="150" />}



                                <div class="mt-3">
                                    <h4>@BrukerInnhold.Navn</h4>

                                    <p class="mb-1">@BrukerInnhold.Stilling</p>
                                    <p class=" font-size-sm">@BrukerInnhold.Bosted<p />
                                </div>
                                @if (BrukerInnhold.Id == (string)ViewData["Innlogget_ID"])
                                {
                                    <div class="col">
                                        <button class="cvbtn btn btn-primary" onclick="location.href='@Url.Action("UpsertBruker", "ProfilSide")'"><i class="fas fa-edit">  Edit profile</i></button>
                                    </div>
                                }
                                else
                                {
                                    <a asp-action="CV" asp-route-brukerID="@BrukerInnhold.Id"><button class="cvbtn btn btn-primary">Request CV</button></a>
                                }
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="rowinfo">
                                <div class="col-sm-3">
                                    <div class="row justify-content-between">
                                        <div class="col-8">
                                            <h6 class="mb-0">Full Name</h6>
                                        </div>
                                    </div>
                                </div>

                                <p class="col-sm-9">@BrukerInnhold.Navn</p>

                            </div>
                            <hr>
                            <div class="rowinfo">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <p class="col-sm-9">@BrukerInnhold.Email</p>
                            </div>
                            <hr>
                            <div class="rowinfo">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Bio</h6>
                                </div>
                                <p class="col-sm-9">@BrukerInnhold.Tlf</p>
                            </div>
                            <hr>
                            <div class="rowinfo">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">City</h6>
                                </div>
                                <p class="col-sm-9">@BrukerInnhold.Bosted</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3 pt-3" style="text-align: center">
                        @if (BrukerInnhold.Navn.EndsWith("s") == true)
                        {
                            <h2>@BrukerInnhold.Navn' Folders</h2>
                        }
                        else
                        {
                            <h2>@BrukerInnhold.Navn's Folders</h2>
                        }
                        <hr />
                        <div class="card-body row">

                            @{
                                var antall = 0;
                            }
                            @while (antall < BrukerInnhold.Mapper.Count)
                            {
                                var Mappe = BrukerInnhold.Mapper.ElementAt(antall);
                                <div class="rowinfo col-sm">
                                    <ul class="nav nav-pills nav-fill folder-nav tabs">



                                        <li class="nav-item">
                                            <button class="delete-folder-div" onclick="onDelete('mappe-@antall', @antall, '@Mappe.MappeNavn')">
                                                <i class="far fa-trash-alt delete-folder"></i>
                                            </button>
                                            <a class="nav-link folder " asp-action="Portefølje" asp-route-brukerID="@BrukerInnhold.Id" asp-route-antall="@antall">
                                                <div class="folder-design" id="mappe-@antall">
                                                    <img class="folder-bilde shadowed" src="https://cdn.discordapp.com/attachments/803968433254694942/819190211472785468/Portfollowers_bilde.png" />
                                                    <span class="folder-navn">@Mappe.MappeNavn</span>
                                                </div>
                                            </a>
                                        </li>


                                    </ul>
                                    </div>
                                    antall++;
                                    }
                            </div>
                    </div>
                    </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="rowinfo">
                                <p>ASDHJKASKJD</p>
                                       
                                    
                                
                            </div>
                        </div>
                    </div>
                </div>








                <ul class="nav nav-pills nav-fill folder-nav tabs">
                    @while (antall < BrukerInnhold.Mapper.Count)
                    {
                        var Mappe = BrukerInnhold.Mapper.ElementAt(antall);


                        <li class="nav-item">
                            <button class="delete-folder-div" onclick="onDelete('mappe-@antall', @antall, '@Mappe.MappeNavn')">
                                <i class="far fa-trash-alt delete-folder"></i>
                            </button>
                            <a class="nav-link folder " asp-action="Portefølje" asp-route-brukerID="@BrukerInnhold.Id" asp-route-antall="@antall">
                                <div class="folder-design" id="mappe-@antall">
                                    <img class="folder-bilde shadowed" src="https://cdn.discordapp.com/attachments/803968433254694942/819190211472785468/Portfollowers_bilde.png" />
                                    <span class="folder-navn">@Mappe.MappeNavn</span>
                                </div>
                            </a>
                        </li>
                        antall++;
                    }
                </ul>

                <!--href="https://localhost:44344/ProfilSide/Portef%C3%B8lje#v-pills-@antall"-->




                <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
                <script src="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
                <script src="https://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>





                <!-- For later  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">  -->
</body>
</html>