@model Portefolio_webApp.Models.Innlegg;

@{
    var liste = (List<Portefolio_webApp.Models.Innlegg>)ViewData["liste"];
    //ViewData["Title"] = ViewData["Token"];
}

<style>
    .editClass {
        background-color: black;
    }

    .valgtKategori {
        border: 5px solid CornflowerBlue;
        filter: brightness(105%);
    }

    .kategoriVelger {
        filter: blur(2px);
    }

    #karusellbilde {
        box-shadow: 1px -40px 50px black inset;
    }

    #clicks {

        color: white;
    }
</style>
<link href="~/css/Buttons.css" rel="stylesheet" />
<link href="~/css/BrowseSide.css?v=1" rel="stylesheet" />
<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row justify-content-around">
                <div id="karusellbilde" class="col-3 overlay-image" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Guitarist_Gretchen_Menn_2017.jpg/1200px-Guitarist_Gretchen_Menn_2017.jpg');">

                    <div class="containere">
                        <h6>Julianna Alonzo</h6>
                        <p>The best musician in town...</p>
                    </div>
                </div>

                <div id="karusellbilde" class="col-3 overlay-image" style="background-image: url('https://wp-static.gofundme.com/2018/07/03160606/art-artist-canvas-374054.jpg');">
                    <div class="containere">
                        <h6>Alyssa karlson</h6>
                        <p>Jeg vet hvordan man maler!</p>
                    </div>

                </div>

                <div id="karusellbilde" class="col-3 overlay-image" style="background-image: url('https://thumbs.dreamstime.com/b/female-photograper-shoot-photo-camera-femal-photographer-42591739.jpg');">
                    <div class="containere">
                        <h6>Maria skalia</h6>
                        <p>Fotografi er mitt kall!</p>
                    </div>


                </div>

                <div id="karusellbilde" class="col-3 overlay-image" style="background-image: url('https://miro.medium.com/max/1000/0*5bjkLBf1VvAiMwhp');">
                    <div class="containere">
                        <h6>Peter finklan</h6>
                        <p>Min hjertes sorg faller på papiret</p>
                    </div>


                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="row justify-content-around">
                <div class="col-3 overlay-image" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Guitarist_Gretchen_Menn_2017.jpg/1200px-Guitarist_Gretchen_Menn_2017.jpg');">

                    <div class="containere">
                        <h6>Julianna Alonzo</h6>
                        <p>The best musician in town...</p>
                    </div>
                </div>

                <div class="col-3 overlay-image" style="background-image: url('https://wp-static.gofundme.com/2018/07/03160606/art-artist-canvas-374054.jpg');">
                    <div class="containere">
                        <h6>Alyssa karlson</h6>
                        <p>Jeg vet hvordan man maler!</p>
                    </div>

                </div>

                <div class="col-3 overlay-image" style="background-image: url('https://thumbs.dreamstime.com/b/female-photograper-shoot-photo-camera-femal-photographer-42591739.jpg');">
                    <div class="containere">
                        <h6>Maria skalia</h6>
                        <p>Fotografi er mitt kall!</p>
                    </div>


                </div>

                <div class="col-3 overlay-image" style="background-image: url('https://miro.medium.com/max/1000/0*5bjkLBf1VvAiMwhp');">
                    <div class="containere">
                        <h6>Peter finklan</h6>
                        <p>Min hjertes sorg faller på papiret</p>
                    </div>


                </div>
            </div>
        </div>

    </div>
    <a href="#myCarousel"
       class="carousel-control-prev" role="button" data-slide="prev">
        <span class="sr-only">Forrige</span>
        <span class="carousel-control-prev-icon"
              area-hidden="true"></span>
    </a>
    <a href="#myCarousel"
       class="carousel-control-next" role="button" data-slide="next">
        <span class="sr-only">Neste</span>
        <span class="carousel-control-next-icon"
              area-hidden="true"></span>
    </a>
</div>

<hr class="mb-4" style="        border-color: #384352" />

<div class="wrapmain">
    <div class="maininnhold">
        <ul class="kategorier nav nav-pills" id="pills-tab" role="tablist">
            <li class="kategoriitem nav-item" role="presentation">
                <a href="@Url.Action("BrowseSide", "Home", new { kategori = "alt" })">
                    <img id="altValg" class="kategoriVelger" src="https://images.unsplash.com/photo-1472141521881-95d0e87e2e39?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1352&q=80" height="120" width="250" />
                    <br />
                    <div class="centered">All categories</div>
                </a>
            </li>
            <li class="kategoriitem nav-item" role="presentation">
                <a href="@Url.Action("BrowseSide", "Home", new { kategori = "Bilde" })">
                    <img id="bildeValg" class="kategoriVelger" style=" box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);" src="https://images.unsplash.com/photo-1434725039720-aaad6dd32dfe?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2098&q=80" height="120" width="250" />
                    <div class="centered">Images</div>
                </a>
            </li>
            <li class="kategoriitem nav-item" role="presentation">
                <a href="@Url.Action("BrowseSide", "Home", new { kategori = "Lyd" })">
                    <img id="lydValg" class="kategoriVelger" src="https://images.unsplash.com/photo-1506704888326-3b8834edb40a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" height="120" width="250" />
                    <div class="centered">Sound</div>
                </a>
            </li>
            <li class="kategoriitem nav-item" role="presentation">
                <a href="@Url.Action("BrowseSide", "Home", new { kategori = "Tekst" })">
                    <img id="tekstValg" class="kategoriVelger" src="https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" height="120" width="250" />
                    <div class="centered">Text</div>
                </a>
            </li>
        </ul>
    </div>
</div>
<hr class="mt-4 mb-1" style="border-color: #384352" />



<div class="searchcontainer">
    <form class="form-inline my-2 my-lg-0">
        <input id="søkefelt" asp-action="BrowseSide" asp-route-kategori="Tekst" class="form-control rounded mr-sm-2" type="search" value="@ViewData["Søk"]" name="søketekst" placeholder="Search" aria-label="Search">
        <input name="kategori" type="hidden" value="@ViewData["Kategori"]" />
    </form>
</div>

<hr class="mt-4 mb-1" style="border-color: #384352" />




<script src="https://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>


<div class="tab-content forside-innlegg" id="innleggDIV">

    @Html.Partial("_browse", @ViewData)

</div>

<h2 style="color:white; text-align:center;">@(liste.Count == 0 ? "There are no results!" : "")</h2>




@section Scripts
{
    <script>

        $(document).ready(function () { //Ikke kjør denne koden før dokumentet har lastet ferdig


            $(function () {
               
                
                var _valgtKnapp = "#" + '@TempData["valgtKnapp"]' + "Knapp";

                if (_valgtKnapp == "#altKnapp") {

                    document.getElementById("søkefelt").setAttribute("Placeholder", "Search all categories");
                    $("#altValg").removeClass("kategoriVelger");
                    $("#altValg").addClass("valgtKategori");

                } else if (_valgtKnapp == "#BildeKnapp") {
                    document.getElementById("søkefelt").setAttribute("Placeholder", "Image search");
                    $("#bildeValg").removeClass("kategoriVelger");
                    $("#bildeValg").addClass("valgtKategori");
                } else if (_valgtKnapp == "#LydKnapp") {
                    document.getElementById("søkefelt").setAttribute("Placeholder", "Sound search");
                    $("#lydValg").removeClass("kategoriVelger");
                    $("#lydValg").addClass("valgtKategori");
                } else {
                    document.getElementById("søkefelt").setAttribute("Placeholder", "Text search");
                    $("#tekstValg").removeClass("kategoriVelger");
                    $("#tekstValg").addClass("valgtKategori");
                }


                $("#altKnapp").removeClass("active");
                $(_valgtKnapp).addClass("active");
            });


            document.getElementById("søkefelt").addEventListener('keydown', function (event) {
                // alert("hey fra hover");
                //document.getElementById("testing").style.backgroundColor = "white";
                if (event.keyCode == 13)
                    alert("Du trykte på enter");
            });



            $(function () {
                var _valgtKnapp = "#" + '@TempData["valgtKnapp"]' + "Knapp";

                $("#altKnapp").removeClass("active");
                $(_valgtKnapp).addClass("active");
            });



        })


        /*
        $.ajax({
            url: "/",
            type: "GET",
            data: { year: ((val * 1) + 1) }
        })
            .done(function (partialViewResult) {
                $("#refTable").html(partialViewResult);
            });
            */

    </script>
}

