@model Portefolio_webApp.Models.Innlegg;

@{
    var brukerListe = (List<Portefolio_webApp.Models.Bruker>)ViewData["BrukerListe"];
    var liste = (List<Portefolio_webApp.Models.Innlegg>)ViewData["liste"];
    //ViewData["Title"] = ViewData["Token"];
}
<link href="~/css/Carousel.css" rel="stylesheet" />
<style>
    .editClass {
        background-color: black;
    }
    .borderOne {
        border: 2px solid #384352;
    }
    .ValgBorder {
        border: 3px solid #1abc9c;
    }
    .valgtKategori {
        filter: brightness(30%) blur(2px);
    }

    .kategoriVelger {
        filter: blur(2px) brightness(10%) contrast(90%);
    }

    #karusellbilde {
        box-shadow: 1px -1px 1px black inset;
    }

    #clicks {

        color: white;
    }

    #mycarousel {
        width:100%;

    }
    .pilervenstre {
        width: 100px;
        margin-left: 10px;
        margin-bottom: 6px;
    }

    .pilerhøyre {
        width: 100px;
        margin-right: 10px;
        margin-bottom: 6px;
    }

    .profilitem {
        width: 20%;
        border-radius: .25rem;
        height: 152px;
        color: white;
        -moz-box-shadow: inset 0 -20px 10px -10px black;
        -webkit-box-shadow: inset 0 -120px 60px -60px black;
        box-shadow: inset 0 -20px -10px -10px black;
        padding-left: 15px;

    }

        .profilitem p  {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            height:25px;
            
        }

        .profilitem h6 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .profilitem img {
            width: 20%;
        }

    .profilHolder{

        padding-left:0px;
    }

    .carouselText {
       
    }

    .carouselbilde {
        width: 90%;
        margin: auto;
        position: relative;
    }

    a:hover {
        color: white;
    }

    

</style>
<link href="~/css/Buttons.css" rel="stylesheet" />
<link href="~/css/BrowseSide.css" rel="stylesheet" />
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <h5 style="color:white; margin-top: -10px; margin-bottom:25px; text-align:center;">Top users</h5>
    <div class="carousel-inner carouselbilde">
        <div class="carousel-item active">
            <div class="row justify-content-around profilHolder">
                @{
                    var listAntall = @brukerListe.Count-1;
                }
                @while (listAntall > 3)
                {
                    <a class="overlay-image profilitem col-xl-2.5" style="        background-image: url('@brukerListe[listAntall].Profilbilde');
                    text-decoration: none;" href="@Url.Action("ProfilSide", "ProfilSide", new { brukerID= @brukerListe[listAntall].Id })">


                        <div class="containere">
                            <h6 class="shadowed">@brukerListe[listAntall].Navn</h6>
                            <p class="shadowed">@brukerListe[listAntall].Stilling</p>
                        </div>

                    </a>
                    listAntall--;
                }

            </div>

        </div>
        @if (@brukerListe.Count >= 8) { 
            <div class="carousel-item">
                <div class="row justify-content-around">

                    @{
                        var listAntall2 = 3;
                    }

                    @while (listAntall2 >= 0)
                    {
                        <a class="overlay-image profilitem col-xl-2.5" style="background-image: url('@brukerListe[listAntall2].Profilbilde');
                        text-decoration: none;" href="@Url.Action("ProfilSide", "ProfilSide", new { brukerID= @brukerListe[listAntall2].Id })">


                            <div class="containere">
                                <h6 class="shadowed">@brukerListe[listAntall2].Navn</h6>
                                <p class="shadowed">@brukerListe[listAntall2].Stilling</p>
                            </div>

                        </a>
                        listAntall2--;
                    }

                </div>
            </div>
          }
    </div>
    <a href="#myCarousel"
       class="carousel-control-prev pilervenstre " role="button" data-slide="prev">
        <span class="sr-only">Forrige</span>
        <span class="carousel-control-prev-icon"
              area-hidden="true"></span>
    </a>
    <a href="#myCarousel"
       class="carousel-control-next pilerhøyre " role="button" data-slide="next">
        <span class="sr-only">Neste</span>
        <span class="carousel-control-next-icon"
              area-hidden="true"></span>
    </a>
</div>

<hr class="mb-4" style=" border-color: #384352" />

<div class="wrapmain">
    <div class="maininnhold">
        <ul class="kategorier nav nav-pills" id="pills-tab" role="tablist">
            <li class="kategoriitem nav-item" role="presentation">
                <div id="altValgBorder" class="borderOne">
                    <a href="@Url.Action("BrowseSide", "Home", new { kategori = "alt" })">
                        <img id="altValg" class="kategoriVelger" src="https://images.unsplash.com/photo-1472141521881-95d0e87e2e39?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1352&q=80" height="90" width="250" />
                        <br />
                        <div class="centered">All categories</div>
                    </a>
                </div>
            </li>
            <li class="kategoriitem nav-item" role="presentation">
                <div id="bildeValgBorder" class="borderOne">
                    <a href="@Url.Action("BrowseSide", "Home", new { kategori = "Bilde" })">
                        <img id="bildeValg" class="kategoriVelger" style=" box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);" src="https://images.unsplash.com/photo-1434725039720-aaad6dd32dfe?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2098&q=80" height="90" width="250" />
                        <div class="centered">Images</div>
                    </a>
                    </div>
            </li>
            <li class="kategoriitem nav-item" role="presentation">
                <div id="lydValgBorder" class="borderOne">
                    <a href="@Url.Action("BrowseSide", "Home", new { kategori = "Lyd" })">
                        <img id="lydValg" class="kategoriVelger" src="https://images.unsplash.com/photo-1506704888326-3b8834edb40a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" height="90" width="250" />
                        <div class="centered">Sound</div>
                    </a>
                    </div>
            </li>
            <li class="kategoriitem nav-item" role="presentation">
                <div id="tekstValgBorder" class="borderOne">
                    <a href="@Url.Action("BrowseSide", "Home", new { kategori = "Tekst" })">
                        <img id="tekstValg" class="kategoriVelger" src="https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" height="90" width="250" />
                        <div class="centered">Text</div>
                    </a>
                    </div>
            </li>
        </ul>
    </div>
</div>
<hr class="mt-4 mb-1" style="border-color: #384352" />



<div class="searchcontainer">
    <form class="form-inline my-2 my-lg-0">
        <input id="søkefelt" asp-action="BrowseSide" asp-route-kategori="Tekst" class="form-control rounded mr-sm-2" type="search" value="@ViewData["Søk"]" name="søketekst" placeholder="Search" aria-label="Search">
        <input name="kategori" type="hidden" value="@ViewData["Kategori"]" />
    </form>
</div>

<hr class="mt-4 mb-1" style="border-color: #384352" />




<script src="https://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>


<div class="tab-content forside-innlegg" id="innleggDIV">

    @Html.Partial("_browse", @ViewData)

</div>

<h2 style="color:white; text-align:center;">@(liste.Count == 0 ? "There are no results!" : "")</h2>

<div style="visibility:hidden; height: 103px;"></div>


@section Scripts
{
    <script>

        $(document).ready(function () { //Ikke kjør denne koden før dokumentet har lastet ferdig


            $(function () {
               
                
                var _valgtKnapp = "#" + '@TempData["valgtKnapp"]' + "Knapp";

                if (_valgtKnapp == "#altKnapp") {

                    document.getElementById("søkefelt").setAttribute("Placeholder", "Search all categories");
                    $("#altValg").removeClass("kategoriVelger");
                    $("#altValg").addClass("valgtKategori");
                    $("#altValgBorder").removeClass("borderOne");
                    $("#altValgBorder").addClass("ValgBorder");


                } else if (_valgtKnapp == "#BildeKnapp") {
                    document.getElementById("søkefelt").setAttribute("Placeholder", "Image search");
                    $("#bildeValg").removeClass("kategoriVelger");
                    $("#bildeValg").addClass("valgtKategori");
                    $("#bildeValgBorder").removeClass("borderOne");
                    $("#bildeValgBorder").addClass("ValgBorder");

                } else if (_valgtKnapp == "#LydKnapp") {
                    document.getElementById("søkefelt").setAttribute("Placeholder", "Sound search");
                    $("#lydValg").removeClass("kategoriVelger");
                    $("#lydValg").addClass("valgtKategori");
                    $("#lydValgBorder").addClass("borderOne");
                    $("#lydValgBorder").addClass("ValgBorder");

                } else {
                    document.getElementById("søkefelt").setAttribute("Placeholder", "Text search");
                    $("#tekstValg").removeClass("kategoriVelger");
                    $("#tekstValg").addClass("ValgtKategori");
                    $("#tekstValgBorder").addClass("borderOne");
                    $("#tekstValgBorder").addClass("ValgBorder");
                }


                $("#altKnapp").removeClass("active");
                $(_valgtKnapp).addClass("active");
            });



            $(function () {
                var _valgtKnapp = "#" + '@TempData["valgtKnapp"]' + "Knapp";

                $("#altKnapp").removeClass("active");
                $(_valgtKnapp).addClass("active");
            });



        })


        /*
        $.ajax({
            url: "/",
            type: "GET",
            data: { year: ((val * 1) + 1) }
        })
            .done(function (partialViewResult) {
                $("#refTable").html(partialViewResult);
            });
            */

    </script>
}

