@using Portefolio_webApp.Models;
@{
    var thisid = "djdj";
    var eierId = "";
    var tittel = "";
    var kategori = "";
    var klokkeslett = "";
    var dato = "";
    var url = "";
    var tagger = new List<string>();
    var beskrivelse = "";
    var innlegg = new Innlegg();
    var kommentar = new List<Kommentar>();
    var i = 0;

    var bruker = (Portefolio_webApp.Models.Bruker)ViewData["bruker"];



    @model Portefolio_webApp.Models.Innlegg;
    if (Model.Kategori != null || Model.IkonURL != null)
    {
        thisid = Model.Id;
        eierId = Model.EierId;
        tittel = Model.Tittel;
        kategori = Model.Kategori;
        klokkeslett = Model.Klokkeslett;
        dato = Model.Dato;
        url = Model.IkonURL;
        tagger = Model.Tagger;
        beskrivelse = Model.Beskrivelse;
        kommentar = Model.Kommentar;
    }
}

<style>
    .music_player {
    }


        .music_player img {
            width: 300px;
            height: 300px;
        }

    .play_button_div {
        background-color: #fff;
        position: absolute;
        top: 0;
        width: 100px;
        opacity: 0;
        display: block;
    }

    .play_button {
        position: absolute;
        opacity: 0;
        width: 100px;
        height: 100px;
    }

        .play_button:active {
            transform: scale(.95);
            filter: brightness(50%);
        }

    .music_player:hover .play_button {
        opacity: 1;
    }


    .music_player:hover .play_button_div {
        opacity: 0.6;
    }

    textarea {
        resize: none;
    }
</style>

<style>
    body{
        margin-top: 60px;
    }


    .hovedInnlegg {
        text-align:center;
        margin-left: auto;
        margin-right: auto;

    }

    .tekstInnlegg{
        height: 95vh;
        width: 100%;
    }

    .bildeInnlegg{
        height: 600px;
        width: 600px;
    }

    .hovedInnlegg h1 {
        color: white;
    }



    .hovedInnlegg p {
        color: white;
    }



    @* brukerikon og brukernavn sammen *@ .innleggProfil {
        display: block;
        margin-top: 20px;
        margin-left: 300px;
        margin-right: 300px;
        margin-bottom: 20px;
    }

    .innleggProfil img {
        float: left;
        margin-right: 10px;
    }

    @*brukernavn ved siden av ikon*@
    .innleggProfil p {
        display: block;
        padding-left: 20px;
        margin-left: 20px;
        color: white;

    }

    hr.white {
        border-top: 1px solid white;
    }

    .nyttKommentarFelt * {
        vertical-align: top;
    }
    .nyttKommentarFelt button {
        vertical-align: bottom;
    }

    @* Beskrivelse tekst *@ p.solid {
        display: block;
        margin-top: 10px;
        margin-left: 300px;
        margin-right: 300px;
        border-style: solid;
        border-width: thin;
        border-color: dimgray;
        padding: 10px;
        clear: left;
        color: white;
    }

</style>



<body style="background-color: rgb(46, 46, 46)">

    @*Klassen inneholder Tittel, opplastingsdato, og hovedinnlegget (bilde eller pdf)*@

    <div class="hovedInnlegg">
        @{

            if (@ViewBag.Status.Equals(true))
            {
                <p>hei</p>
            }

            else if (kategori.Equals("Bilde"))
            {

                <h1 onclick="">@tittel</h1>
                <p>@dato</p>
                <img src="~/lib/bilder/yeetle_nen.png" class="small" alt="error" id="innlegg" />

            }
            else if (kategori.Equals("Tekst"))
            {
                <embed src="~/lib/pdfs/prosjektbeskrivelse.pdf" class="tekstInnlegg" />
                <p>@dato</p>
            }
            else if (kategori.Equals("Lyd"))
            {
                <h1 onclick="">@tittel </h1>
                <p>@dato</p>
                <div class="music_player">
                    <div class="play_button_div"></div>
                    <img id="sangi" class="play_button shadowed" src="https://www.clipartmax.com/png/middle/134-1347519_youtube-png-play-pictures-png-images-play-button-png.png" onclick='spillAv("sang", this.id); visSang("sangnavn", "artist")' />
                    <audio id="sang" class="lydspor" preload="metadata" ontimeupdate="timer(this.id); var minutter = Math.floor(this.currentTime / 60); var sekunder = Math.floor(this.currentTime - minutter * 60); var minutter1 = Math.floor(this.duration / 60); var sekunder1 = Math.floor(this.duration - minutter1 * 60); document.getElementById('tracktime').innerHTML = minutter + ':' + ('0' + sekunder).slice(-2); document.getElementById('trackduration').innerHTML = minutter1 + ':' + ('0' + sekunder1).slice(-2);" src="https://firebasestorage.googleapis.com/v0/b/bachelor-it-97124.appspot.com/o/images%2FPok%C3%A9mon%20Theme%20Song.mp3?alt=media&token=bccacd1c-ed6a-4050-8745-b1ee3bb50f96"></audio>
                    <img src="~/lib/bilder/Maracoween_F.png" />
                    <p id="sangnavn">Pokémon Theme</p>
                    <p id="artist">IDFK</p>
                </div>
            }
        }


    </div>
    @{
        if (kategori.Equals(""))
        {
            <div class="hovedInnlegg">
                <p>Beklager men denne siden eksisterer ikke </p>
            </div>
        }
        else
        {
            <div class="innleggProfil">
                <a asp-controller="Profilside" asp-action="Profilside" asp-route-brukerID="@bruker.Id">
                    <img src="~/lib/bilder/Mageh.png" height="60" width="60" id="imgikon" />
                </a>
                <p class="ikontxt"><u>@bruker.Navn</u> <br> @bruker.Stilling </p>
            </div>
            <p class="solid">
                @beskrivelse
            </p>



        }
    }
    @if (ViewData["Token"] != null)
    {
        <div class="nyttKommentarFelt">
            <a asp-controller="Profilside" asp-action="Profilside">
                <img src="~/lib/bilder/Mageh.png" height="60" width="60" id="imgikon" />
            </a>
            <textarea id="kommentarFelt" name="w3review" rows="4" cols="70"></textarea>
            <button>Cancel</button><button onclick="Kommentar('@thisid')">Comment</button>
        </div>
    }

    @{
        var antallKommentarer = 0;
    }
    @if (kommentar.Count != 0)
        @while (antallKommentarer < kommentar.Count)
        {
            var tekst = kommentar[antallKommentarer].Tekst;
            var komid = kommentar[antallKommentarer].EierId;
            var bilde = kommentar[antallKommentarer].EierBilde;
            var nvn = kommentar[antallKommentarer].EierNavn;
            <div class="innleggProfil">
                <a asp-controller="Profilside" asp-action="Profilside" asp-route-brukerID="@komid">
                    <img src=@bilde height="30" width="30" id="imgikon" />
                    <p class="ikontxt"><u>@nvn</u><br></p>
                </a>
            </div>
            <p class="solid">@tekst</p>
            antallKommentarer += 1;
        }
    <div id="alleKommentarFelt">

    </div>
    <script>
        function Kommentar(nyId) {
        var url = '@Html.Raw(Url.Action("NyttKommentar", "Innlegg" , new { tekst = "_tekst_", innleggId = "_innleggId_" }))';
            var tekst = $('#kommentarFelt').val();
            var params = url.replace('_tekst_', tekst).replace('_innleggId_', nyId);
            window.location.href = params;
        }


    </script>
    <script src="~/js/javaInnlegg.js?v=4">
    </script>

</body>


