@model Portefolio_webApp.Models.Innlegg;
@{
    var BrukerInnhold = (Portefolio_webApp.Models.Bruker)ViewData["Innlogget_Bruker"];
}
<link href="~/css/Upsert_Innlegg.css" rel="stylesheet" />
<link href="~/css/PorteføljeElementer.css?v=1" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/js/bootstrap-tagsinput.js?v=1"></script>

<h2 class="text-info">@(Model.Id == null ? "Registrer" : "Rediger") Innlegg</h2>
<br />

<style>

    .bootstrap-tagsinput {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        padding: 4px 6px;
        color: #555;
        border-radius: 4px;
        line-height: 29px;
        cursor: text;
    }

        .bootstrap-tagsinput input {
            border: none;
            box-shadow: none;
            outline: none;
            background-color: transparent;
            padding: 0 6px;
            margin: 0;
        }

        .bootstrap-tagsinput.form-control input::-moz-placeholder {
            color: #777;
            opacity: 1;
        }

        .bootstrap-tagsinput.form-control input:-ms-input-placeholder {
            color: #777;
        }

        .bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
            color: #777;
        }

        .bootstrap-tagsinput input:focus {
            border: none;
            box-shadow: none;
        }

        .bootstrap-tagsinput .tag {
            margin-right: 2px;
            color: white;
            border-radius: 3px;
            background-color: #0275d8;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 3px;
        }

            .bootstrap-tagsinput .tag [data-role="remove"] {
                margin-left: 8px;
                cursor: pointer;
            }

                .bootstrap-tagsinput .tag [data-role="remove"]:after {
                    content: "x";
                    padding: 0px 2px;
                }

                .bootstrap-tagsinput .tag [data-role="remove"]:hover {
                    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
                }

                    .bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
                        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                    }


    .preview-label {
        position: absolute;
        right: 179px;
        padding: 15px;
        top: 70px;
    }

    .preview {
        position: absolute;
        right: 80px;
        padding: 15px;
        top: 150px;
    }


    .round {
        border: 3px solid white;
        width: 1000px;
        padding: 41px;
        display: inline-block;
    }

    .round-preview {
        border: 3px solid white;
        width: 350px;
        height: 350px;
    }

    .radio-buttons {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    #bildekategori {
        display: none;
    }

    #musikkategori {
        display: none
    }

    #tekstkategori {
        display: none;
    }

    #bilde-innlegg {
        display: none;
    }

    #lyd-innlegg {
        display: none;
    }

    #tekst-innlegg {
        display: none;
    }

    #cover-image {
        display: none;
    }

    #subkat {
    }

    #subkatdiv {
        visibility: hidden;
        position: absolute;
    }

    #mappefelt {
        position: absolute;
        visibility: hidden;
    }

    

    #ny-mappe-valgt {
        display: none
    }


    .radio {
        display: inline-block;
        width: 141px;
        height: 70px;
        background-color: white;
        border-radius: .25rem;
        cursor: pointer;
        margin-left: 4px;
        margin-right: 4px;
        cursor: pointer;
    }

        .radio.active, .radio:active {
            background-color: #0275d8;
            color: white;
        }

    .folder-bilde {
        width: 80px;
        margin: 20px;
        position: relative;
    }

    .folder-navn {
        color: white;
        font-size: 13px;
        top: 63%;
        left: 48%;
        transform: translate(-45%, -50%);
        position: absolute;
    }

    .folder-design {
        position: relative;
    }

    .add-folder {
        position: relative;
        margin: 44px 20px 20px 20px;
    }

    .nav-item {
        cursor: pointer
    }

    .activefolder {
        border: 1px solid white;
    }

    .filknapp {
        color: red;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>

    $(function () {
        $('.radio').removeClass('active');
        $("#radio-dummy").addClass('active');
        $('.radio').on('click', function () {
            $('.radio').removeClass('active');
            $(this).addClass('active');
        });
    });

    $(function () {
        $('.chosen').removeClass('activefolder');
        $("#dummy-folder").addClass('activefolder');
        $('.chosen').on('click', function () {
            $('.chosen').removeClass('activefolder');
            $(this).addClass('activefolder');
        });
    });


    function fileValidation() {
        var file = document.getElementById("input-file").value;


        var validImage = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
        var validAudio = /(\.mp3)$/i;
        var validTekst = /(\.pdf)$/i;

        if (validImage.exec(file)) {
            //Endrer verider
            document.getElementById('kategoriVerdi').value = "Bilde";
            document.getElementById("kategori-value").value = "";

            //Gjør elemeter synlig
            document.getElementById('bildekategori').style.display = "inline-block";
            document.getElementById('bilde-innlegg').style.display = "block";
            document.getElementById('subkatdiv').style.visibility = "visible";
            document.getElementById('subkatdiv').style.position = "relative";

            //Gjør elementer usynlig
            document.getElementById('musikkategori').style.display = "none";
            document.getElementById('tekstkategori').style.display = "none";
            document.getElementById('lyd-innlegg').style.display = "none";
            document.getElementById('tekst-innlegg').style.display = "none";

        }
        else if (validAudio.exec(file)) {
            //Endrer verider
            document.getElementById('kategoriVerdi').value = "Lyd";
            document.getElementById("kategori-value").value = "";

            //Gjør elemeter synlig
            document.getElementById('musikkategori').style.display = "inline-block";
            document.getElementById('lyd-innlegg').style.display = "block";
            document.getElementById('subkatdiv').style.visibility = "visible";
            document.getElementById('subkatdiv').style.position = "relative";
            document.getElementById('cover-image').style.display = "block";

            //Gjør elementer usynlig
            document.getElementById('bildekategori').style.display = "none";
            document.getElementById('tekstkategori').style.display = "none";
            document.getElementById('tekst-innlegg').style.display = "none";
            document.getElementById('bilde-innlegg').style.display = "none";

        }
        else if (validTekst.exec(file)) {
            //Endrer verider
            document.getElementById('kategoriVerdi').value = "Tekst";
            document.getElementById("kategori-value").value = "";

            //Gjør elemeter synlig
            document.getElementById('tekstkategori').style.display = "inline-block";
            document.getElementById('tekst-innlegg').style.display = "block";
            document.getElementById('subkat').style.display = "block";
            document.getElementById('subkatdiv').style.visibility = "visible";
            document.getElementById('subkatdiv').style.position = "relative";
            document.getElementById('cover-image').style.display = "block";

            //Gjør elementer usynlig
            document.getElementById('bildekategori').style.display = "none";
            document.getElementById('musikkategori').style.display = "none";
            document.getElementById('lyd-innlegg').style.display = "none";
            document.getElementById('bilde-innlegg').style.display = "none";




        }
        else
            document.getElementById('file-type-test').innerHTML = "Uh oh";
        document.getElementById("kategori-value").value = "";
    }





    function radio(id) {
        var bilde = /(Fotografi|Digital Art|Traditional Art|3D)$/i;
        var lyd = /(Musikk|Lydeffekter|Voice Acting|Audiobook)$/i;
        var tekst = /(Fiction|Non-Fiction)$/i;

        var verdi = document.getElementById(id).value;

        if (bilde.exec(verdi)) {
            document.getElementById("kategori-value").value = verdi;

        }
        else if (lyd.exec(verdi)) {
            document.getElementById("kategori-value").value = verdi;

        }
        else if (tekst.exec(verdi)) {
            document.getElementById("kategori-value").value = verdi;

        }
    }


    function tittelPreview() {
        tittel = document.getElementById("tittel").value;
        document.getElementById("bilde-tittel-preview").innerHTML = tittel;
        document.getElementById("sangnavn").innerHTML = tittel;
        document.getElementById("lit-tittel").innerHTML = tittel;
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#idmge').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    $("#input-file").change(function () {
        readURL(this);
    });

    function readURL2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('.idmge').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    $("#cover-input-file").change(function () {
        readURL(this);
    });

    function mappeValg(mappe) {
        var valgt = document.getElementById(mappe).innerText;
        document.getElementById("mappe").value = valgt;
    }

    function nyMappe() {
        var folderfield = document.getElementById("mappefelt");
        folderfield.style.position = "relative";
        folderfield.style.visibility = "visible";
        document.getElementById("mappe").value = "";
        document.getElementById("ny-mappe").style.display = "none";
        document.getElementById("ny-mappe-valgt").style.display = "block";
    }

    function mappeNavn() {
        var yes = document.getElementById("mappe").hasAttribute("readonly");
        navn = document.getElementById("mappe").value;
        if (yes == false) {
            document.getElementById("mappeny").innerHTML = navn;}
        
    }

    function readonly() {
        $("#mappe").attr("readonly", true);
    }

    function readonlyOff() {
        $("#mappe").attr("readonly", false);
    }
    


</script>



<div class="round">
    <form class="whitetext" method="post" , new enctype="multipart/form-data">
        @if (Model.Id == null)
        {
<input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Klokkeslett" />
                                <input type="hidden" asp-for="EierId" />
                                                <input type="hidden" asp-for="Tagger" />
                                                                <input type="hidden" asp-for="FilStørrelse" />
                                                                                <input type="hidden" asp-for="IkonURL" />}
        <input type="hidden" asp-for="antallLikes" />


        <div class="form-group row">
            <div class="col-3">
                @Html.TextBox("inputfile", "inputfile", new { type = "file", name = "inputfile", id="input-file", accept = "image/png|image/jpeg|image/jpg|image/gif|audio/mp3|application/pdf", oninput = "fileValidation(); readURL(this);" }) <br />

            </div>

        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Kategori"></label>
            </div>
            <div class="col-8">
                <input asp-for="Kategori" readonly class="form-control" id="kategoriVerdi" required />
                <span asp-validation-for="Kategori" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" id="subkatdiv">
            <div class="col-3" id="subkat">
                <label asp-for="SubKategori"></label>
            </div>

            <button type="button" class='radio active' id="radio-dummy" value="Fotografi" style="display: none"></button>

            <div id="bildekategori" class="col-8 radio-buttons">
                <button type="button" class='radio' id="radio1" value="Fotografi" onclick='radio(this.id)'>Fotografi</button>
                <button type="button" class='radio' id="radio2" value="Digital Art" onclick="radio(this.id)">Digital Art</button>
                <button type="button" class='radio' id="radio3" value="Traditional Art" onclick="radio(this.id)">Traditional Art</button>
                <button type="button" class='radio' id="radio4" value="3D" onclick="radio(this.id)">3D</button>
            </div>
            <div id="musikkategori" class="col-8 radio-buttons">
                <button type="button" class='radio' id="radio5" value="Musikk" onclick="radio(this.id)">Musikk</button>
                <button type="button" class='radio' id="radio6" value="Lydeffekter" onclick="radio(this.id)">Lydeffekter</button>
                <button type="button" class='radio' id="radio7" value="Voice Acting" onclick="radio(this.id)">Voice Acting</button>
                <button type="button" class='radio' id="radio8" value="Audiobook" onclick="radio(this.id)">Audiobook</button>

            </div>
            <div id="tekstkategori" class="col-8 radio-buttons">
                <button type="button" class='radio' id="radio9" value="Fiction" onclick="radio(this.id)">Fiction</button>
                <button type="button" class='radio' id="radio10" value="Non-Fiction" onclick="radio(this.id)">Non-Fiction</button>
            </div>
        </div>

        <input asp-for="SubKategori" id="kategori-value" style="display: none" required />

        <div id="cover-image" class="form-group row">
            <div class="col-3">
              
                    @Html.TextBox("coverfile", "coverfile", new { type = "file", name = "coverfile", id="cover-input-file", accept = "image/png|image/jpeg|image/jpg", oninput = "readURL2(this);" }) <br />
                    

            </div>
        </div>

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>


        <div class="form-group row">
            <div class="col-3">
                <label>Mapper</label>
            </div>







           
            @{ 
                var antall = 0;
            }

        <ul class="nav nav-pills nav-fill folder-nav tabs">

            <li class="nav-item">
                <div class="folder-design chosen" id="dummy-folder" style="display: none">
                </div>
            </li>

            @while (antall < BrukerInnhold.Mapper.Count)
            {
                var Mappe = BrukerInnhold.Mapper.ElementAt(antall);


        <li class="nav-item">
            <div class="folder-design chosen" onclick='mappeValg("mappe-@antall"); readonly()'>
                <img class="folder-bilde shadowed" src="https://cdn.discordapp.com/attachments/803968433254694942/819190271077646336/Portfollowers_tekst.png" />
                <span id="mappe-@antall" class="folder-navn">@Mappe.MappeNavn</span>
            </div>
        </li>antall++;
                    }
           
            <li class="nav-item">
                <div class="folder-design" id="ny-mappe" onclick="nyMappe()">
                    <i class="fas fa-folder-plus fa-4x add-folder"></i>
                </div>
                <div class="folder-design chosen" id="ny-mappe-valgt" onclick='mappeValg("mappeny"); readonlyOff()'>
                    <img class="folder-bilde shadowed" src="https://cdn.discordapp.com/attachments/803968433254694942/819190271077646336/Portfollowers_tekst.png" />
                    <span id="mappeny" class="folder-navn"></span>
                </div>
            </li>
        </ul>

                    </div>







        <div class="form-group row " id="mappefelt">

            <div class="col-3">
                <label>Navn på mappe</label>
            </div>
            <div class="col-8">
                <input type="text" name="mappenavn" class="form-control" id="mappe" placeholder="Mappenavn" onkeyup="mappeNavn()" required/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Tittel"></label>
            </div>
            <div class="col-8">
                <input asp-for="Tittel" class="form-control" id="tittel" placeholder="Tittel" onkeyup="tittelPreview()" required />
                <span asp-validation-for="Tittel" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Beskrivelse"></label>
            </div>
            <div class="col-8">
                <input asp-for="Beskrivelse" class="form-control" placeholder="Beskrivelse" required />
                <span asp-validation-for="Beskrivelse" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Tagger"></label>
            </div>
            <div class="col-8">
                <input asp-for="Tagger" id="taginput" class="form-control" value="Smash, Hot,    Sex appeal, Rule 34   , Melons" data-role="tagsinput" placeholder="Add tag," />



                <span asp-validation-for="Tagger" class="text-danger"></span>


            </div>
        </div>







        <div class="form-group row">
            <div class="col-3 offset-3">
                <button type="submit" id="submit-btn" class="btn btn-primary form-control">
                    @(Model.Id == null ? "Registrer" : "Oppdater")
                </button>
            </div>
            <div class="col-3">
                <a asp-controller="Home" asp-action="BrowseSide" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>

<h2 class="text-info preview-label">Forhåndsvisning</h2>

<div class="preview round-preview">
    <div class="preview-div">
        <div id="bilde-innlegg" class="single-awesome-portfolio">
            <a href="#">
                <div class="awesome-img">
                    <div class="awesome-info">
                        <h3 id="bilde-tittel-preview">    </h3>
                        <p class="bruker-preview">@BrukerInnhold.Navn</p>
                    </div>
                    <img class="imge" id="idmge" src="#" alt="">
                </div>

            </a>
        </div>

        <div class="music_player" id="lyd-innlegg">

            <div class="play_button_div"></div>
            <img id="sangi" class="play_button shadowed" src="../resources/icons8-play-96.png" onclick='spillAv("sang", this.id); visSang("sangnavn", "artist")' />
            <audio id="sang" class="lydspor" preload="metadata" ontimeupdate="timer(this.id); var minutter = Math.floor(this.currentTime / 60); var sekunder = Math.floor(this.currentTime - minutter * 60); var minutter1 = Math.floor(this.duration / 60); var sekunder1 = Math.floor(this.duration - minutter1 * 60); document.getElementById('tracktime').innerHTML = minutter + ':' + ('0' + sekunder).slice(-2); document.getElementById('trackduration').innerHTML = minutter1 + ':' + ('0' + sekunder1).slice(-2);" src="https://firebasestorage.googleapis.com/v0/b/bachelor-it-97124.appspot.com/o/images%2FPok%C3%A9mon%20Theme%20Song.mp3?alt=media&token=bccacd1c-ed6a-4050-8745-b1ee3bb50f96"></audio>
            <img class="fuck imge idmge" id="lyd-imge" src="#" alt="" />
            <p id="sangnavn"></p>
            <p id="artist">Ola Normann</p>

        </div>


        <div class="litteratur" id="tekst-innlegg">
            <img class="book_cover idmge" id="lit-imge" src="#" alt="" />
            <h3 class="tittel" id="lit-tittel"></h3>
            <h4 class="forfatter">Roal Dahl</h4>
        </div>


    </div>
</div>
<span id="array"></span>

@section Scripts{

    <partial name="_ValidationScriptsPartial" />
}
